/*==================================
 ------------ BLANK CSS -----------
==================================*/


/*-------- Layout Specific -------*/

.layout {
    .layout_inner {
        position: relative;
        overflow-x: hidden;
    }
    @include layout-legacy {
        &.js--mobile {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }
    }
}


/*--------- Pane Specific --------*/

.pane {
    &--header {
        padding-top: 10px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 201;
        transition: 0.3s ease-in-out;
        @at-root .js--header-small & {
            background-color: rgba(darken(desaturate(adjust-hue($brand-color, 6), 32.14), 2.55) ,0.7);
        }
        .pane_inner {
            @include fit-and-center($layout-width);
            position: relative;
        }
        .module-logo {
            margin: 15px 0;
            a {
                display: inline-block;
                color: $light-color;
                &:after {
                    content: none;
                }
            }
            img {
                display: block;
            }
            @include layout-large {
                width: 100%;
                margin: 0;
            }
        }
        .layout_toggle {
            display: none;
            text-align: right;
            position: absolute;
            top: 50%;
            right: $gutter;
            transform: translateY(-50%);
            &-button {
                font-size: 1.7rem;
                color: $light-color;
                background: transparent;
                padding: 0;
                border: 0 none;
            }
            [class^="q4-icon_"] {
                &:focus {
                    outline: none;
                }
                @at-root .js--mobile & {
                    &:before {
                        content: "\e91a";
                    }
                }
            }
        }
        @include layout-large {
            padding-top: 25px;
            padding-bottom: 25px;
            @at-root .js--mobile & {
                background-color: rgba(darken(desaturate(adjust-hue($brand-color, 6), 32.14), 2.55) ,0.7);
            }
            .layout_toggle {
                display: block;
            }
        }
    }
    &--banner {
        color: #fff;
        position: relative;
        @at-root .layout:not(.layout--home) & {
            padding-top: 70px;
            background-color: $lighten-color;
            background-image: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 20%), url($host + '/design/hero-image.jpg');
            background-position: center 25%;
            background-size: cover;
            @at-root .js--header-small & {
                padding-top: 50px;
            }
        }
        .module-page-title {
            min-height: 350px;
            height: 1px; /* IE11 Fix */
            display: flex;
            text-align: center;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
            @include layout-legacy {
                min-height: 105px;
            }
        }
        h1 {
            margin: 0;
            @include layout-legacy {
                max-width: none;
            }
        }
    }
    &--navigation {
        @include layout-large {
            position: fixed;
            top: 74px;
            right: 0;
            bottom: 0;
            transition: 0.3s ease-in-out;
            overflow-y: scroll;
            z-index: 120;
            width: 75%;
            max-width: 305px;
            transform: translateX(100%);
            padding: 20px 15px 50px 15px;
            background-color: lighten(desaturate(#09192f, 0.82), 6.86);
            @at-root .js--mobile & {
                box-shadow: -6px 0 14px 0 rgba($dark-color,0.39);
                transform: translateX(0);
            }
        }
        // iOS Actionbar fix
        @media screen and (max-width: 765px) and (orientation:landscape) {
            // Height of actionbar
            padding-bottom: 85px;
        }
    }
    &--content {
        .module {
            padding-top: $module-vspace;
            padding-bottom: $module-vspace;
            &_container {
                &--outer {
                    @include fit-and-center($layout-width);
                }
            }
            @at-root {
                @media only screen and (min-width: 769px) {
                    .module-container-padding .module_container--outer {
                        padding-left: calc(25px + 5%);
                        padding-right: calc(25px + 5%);
                    }
                }
            }
            &--thin {
                padding-top: $module-vspace--thin;
                padding-bottom: $module-vspace--thin;
            }
            &--thin-top {
                padding-top: $module-vspace--thin;
            }
            &--thin-bottom {
                padding-bottom: $module-vspace--thin;
            }
            &--thick {
                padding-top: $module-vspace--thick;
                padding-bottom: $module-vspace--thick;
            }
            &--thick-top {
                padding-top: $module-vspace--thick;
            }
            &--thick-bottom {
                padding-bottom: $module-vspace--thick;
            }
            &--no-padding {
                padding-top: 0;
                padding-bottom: 0;
            }
            &--no-padding-top {
                padding-top: 0;
            }
            &--no-padding-bottom {
                padding-bottom: 0;
            } // Sitemap
            &-sitemap {
                padding-bottom: $module-vspace--thin;
            }
        }
    }
    &--footer {
        padding: $gutter * 2.5 0;
        background-color: $brand-color;
        color: $light-color;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module {
            // Module Titles
            &_title {
                font-size: 3.6rem;
            }
            &_error-container {
                margin-bottom: 20px;
                color: $light-color;
                p {
                    display: none;
                }
            }
            &_introduction {
                display: none;
            } // Quick Links
            &-links--footer {
                font-size: 2.1rem;
                line-height: 3rem;
                font-family: $heading-font;
                .module_title {
                    color: $light-color;
                }
                ul {
                    column-count: 2;
                    li {
                        padding-right: $gutter;
                        margin-bottom: 15px;
                        -webkit-column-break-inside: avoid;
                        page-break-inside: avoid;
                        break-inside: avoid;
                        a {
                            color: $light-color;
                            position: relative;
                            display: inline-block;
                            padding-left: 30px;
                            margin: 2px 0;
                            &:before {
                                @include icon(e922);
                                font-size: 20px;
                                vertical-align: middle;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
                @include layout-large {
                    ul {
                        column-count: auto;
                    }
                }
            } // Mailing List Signup
            &-subscribe {
                &_form label {
                    position: absolute !important;
                    width: 1px !important;
                    height: 1px !important;
                    padding: 0 !important;
                    margin: -1px !important;
                    overflow: hidden !important;
                    clip: rect(0, 0, 0, 0) !important;
                    border: 0 !important;
                }
                &_list-header,
                &_email .module_required,
                .CaptchaContainer {
                    display: none;
                }
                &_form {
                    padding-right: 220px;
                    tbody {
                        display: block;
                    }
                    tr {
                        width: 100%;
                    }
                }
                &_table-wrap {
                    position: relative;
                }
                &_list {
                    &>td {
                        padding: 0;
                    }
                    table {
                        display: inline-block;
                        width: 100%;
                        tr {
                            display: inline-block;
                            vertical-align: top;
                            width: 33.33%;
                            padding: 0 $gutter 0 0;
                            @include layout-medium {
                                width: auto;
                                display: block;
                            }
                        }
                    }
                }
                .module_input {
                    font-size: 2rem;
                    color: inherit;
                    border: 0 none;
                    border-bottom: 1px solid $light-color;
                    background-color: transparent;
                    padding-left: 0;
                    padding-right: 0;
                }
                input[type="checkbox"] + label {
                    line-height: normal;
                    &:before {
                        border-color: $light-color;
                        background-color: transparent;
                    }
                }
                input[type="checkbox"]:checked + label {
                    &:after {
                        background-color: $light-color;
                    }
                }
                .module_actions {
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 0;
                }
                .button {
                    border-color: $light-color;
                    background-color: transparent;
                    color: $light-color;
                    width: 200px;
                    &:hover,
                    &:focus {
                        background: $brand-color;
                        border-color: $light-color;
                        color: $light-color;
                    }
                }
                @include layout-large {
                    &_form tr,
                    &_list table tr {
                        padding-left: 0;
                    }
                }
                @include layout-legacy {
                    &_form {
                        padding-right: 0;
                    }
                    &_list {
                        table tr {
                            width: 50%;
                        }
                    }
                    .module_actions {
                        position: static;
                        margin-top: 20px;
                    }
                }
                @include layout-medium {
                    width: 100%;
                    margin-top: 2 * $gutter;
                    &_list table tr {
                        width: 100%;
                    }
                    &_mailing-list {
                        width: auto;
                    }
                }
            }
        }
    }
    &--footer2 {
        color: $light-color;
        background-color: lighten(saturate(adjust-hue(#09192f, -6), 32.14), 2.55);
        padding-top: 50px;
        padding-bottom: 50px;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        h4 {
            margin-top: 0;
            margin-bottom: 30px;
            padding-bottom: 25px;
            position: relative;
            font-size: 2.4rem;
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 56px;
                background-color: $grey-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .module {
            &-logo--footer {
                img {
                    vertical-align: top;
                    margin-top: 10px;
                }
            }
            &-contact {
                strong {
                    font-size: 1.8rem;
                }
                .q4icons_icon:before {
                    font-size: 20px;
                    vertical-align: middle;
                    width: 25px;
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }
        @include layout-legacy {
            .module-logo--footer img {
                margin-bottom: 40px;
            }
        }
    }
    &--credits {
        color: $light-color;
        background-color: lighten(saturate(adjust-hue(#09192f, -6), 32.14), 2.55);
        padding-bottom: 25px;
        .pane_inner {
            @include fit-and-center($layout-width);
            &:before {
                content: '';
                display: inline-block;
                width: 100%;
                border-top: 1px solid $grey-color;
                padding-top: 15px;
            }
        }
        .module-links {
            font-size: 1rem;
            li {
                display: inline;
                margin:0 2px;
            }
        }
        .copyright {
            font-size: 1rem;
        }
        .module-q4-credits {
            font-size: 1rem;
        }
    }
}


/*--------- Page Specific --------*/

// to add in the extra padding on the top and bottom of the content pane
// this ensure that the first module is getting enough space on top
// and the last module gets enough space below it
.page--no-alternating {
    .pane {
        &--content {
            padding: 35px 0;
        }
    }
    .module {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
    }
}


/*-------- Module Specific -------*/

.module-overview {
    font-size: 2rem;
}

.module-why-invest {
    h4 {
        font-size: 6rem;
        color: $brand-color;
        font-weight: 300;
        margin-top: 0;
    }
    &_column {
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .grid_col:not(:first-child) .module-why-invest_column {
        @media only screen and (min-width: $layout-medium) {
            border-left: 1px solid #dddddd;
        }   
    }
    .slick-arrow:before {
        font-size: 20px;
        color: $brand-color;
    }
}

/* HOME:  */
.module-box-links {
    &_item {
        margin-bottom: 20px;
        break-inside: avoid;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-25px);
        }
        &-outer {
            padding-bottom: 105%;
            position: relative;
            background-size: cover;
            background-position: center center;
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color 0.3s ease-in-out;
                background-color: transparent;
                background-image: linear-gradient(180deg, rgba($light-color,0) 0%, rgba($dark-color,0.5) 100%);
            }
        }
        &:hover {
            .module-box-links_item-outer {
                box-shadow: 0px 10px 15px 0 rgba($dark-color,0.59);
                &:after {
                    background-color: rgba($brand-color, 0.85);
                    background-image: none;
                }
            }
        }
        &-inner {
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 30px;
            overflow: hidden;
        }
    }
    &_title {
        margin: 0 0 -30px 0;
        transition: 0.3s ease-in-out;
    }
    &_description {
        position: relative;
        opacity: 0;
        visibility: hidden;
        transform: translateY(25px);
        // max-height: 0;
        // overflow: hidden;
        transition: 0.3s ease-in-out;
        // fix outline when focusing on button
        padding: 5px;
        margin: -5px;
    }
    &_item:hover {
        .module-box-links_title {
            margin: 0 0 10px 0;
        }
        .module-box-links_description {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            // max-height: 200px;
        }
    }
    &_more {
        margin-top: 15px;
    }
    .button--cta {
        color: $light-color;
    }
    @include layout-legacy {
        &_item:hover {
            transform: translateY(-10px);
        }
        &_item-outer {
            padding-bottom: 33.33%;
        }
        &_item-inner {
            padding: 20px;
        }
        &_title {
            font-size: 2.4rem;
        }
    }
    @media screen and (max-width: 640px) {
        &_item-outer {
            padding-bottom: 105%;
        }
    }
}