/*==================================
 --------- UTILITY CLASSES --------
==================================*/

.hidden {
    &:not([role=tabpanel]) {
        display: none !important;
    }
    &[role=tabpanel] {
        display: none;
    }
}

.disabled {
    opacity: 0.1;
    border-color: $body-color;
    color: $body-color;
    transition: none;
    pointer-events: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.vtop {
    vertical-align: top;
}

.vmiddle {
    vertical-align: middle;
}

.vbottom {
    vertical-align: bottom;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.heading-right .module_title {
    text-align: right;
}

.heading-left .module_title {
    text-align: left;
}

.heading-center .module_title {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.background--cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background--overlay {
    position: relative;
    .module_container--outer {
        position: relative;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: linear-gradient(180deg, rgba($dark-color,0) 0%, rgba($dark-color,0.74) 100%);
        transition: background-color 0.3s ease-in-out;
    }
}
.background--overlay-half {
    position: relative;
    .module_container--outer {
        position: relative;
        z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
    @include layout-medium {
        &:after {
            width: 100%;
        }        
    }
}
.background--brand {
    background-color: $brand-color;
}

.background--alt-brand {
    background-color: $brand-color--alt;
}

.background--dark {
    background-color: $dark-color;
}

.background--light {
    background-color: $light-color;
}

.background--grey {
    background-color: $grey-color;
}

.background--success {
    background-color: $success-color;
}

.background--error {
    background-color: $error-color;
}

.background--fixed {
    background-attachment: fixed;
    @include layout-legacy {
        background-attachment: scroll;
    }
}

.background--cover {
    background-size: cover;
}

.color--brand {
    color: $brand-color;
}

.color--dark {
    color: $dark-color;
}

.color--grey {
    color: $grey-color;
}

.color--success {
    color: $success-color;
}

.color--error {
    color: $error-color;
}

.dark {
    color: $light-color;
    h1, h2, h3, h4, h5, h6 {
        color: $light-color;
    }
    a {
        color: $light-color;
    }
}