/*---------- FAQ Module ----------*/
.module-faq {
    .toggle-all {
        margin-bottom: 30px;
    }
    &_question {
        margin-top: 0;
        cursor: pointer;
    }
    &_answer {
        padding: 5px 20px;
        margin: 0 0 15px 0;
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .module_item {
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        ~ .module_item {
            border-top: none;
        }
        & > h4 {
            margin: 0;
            padding: 20px;
            color: $brand-color--alt;
            font-style: normal;
            &:before {
                @include icon('edc2');
                float: right;
                margin-left: 10px;
            }
        }
        &.js--active {
            & > h4 {
                color: $brand-color;
                &:before {
                    content: "\edba";
                }
            }
        }
    }
    .toggle-all {
        .button {
            &:before {
                content: "Display all";
            }
            &:hover {
                color: $brand-color;
            }
        }
        &.js--active {
            .button {
                &:before {
                    content: "Hide all";
                }
            }
        }
    }
}