/*------ Stock Header Module -----*/
.module-stock-header {
    text-align: right;
    color: $light-color-alt;
    font-family: $secondary-font;
    @include layout-medium {
        text-align: left;
        margin: 0;
    }
    .module_container--outer {
        text-align: center;
        width: 100%;
        border-top: 1px solid $light-color;
        padding-top: 15px;
        position: relative;
        @include fit-and-center-no-padding(410px);
        @include layout-medium {
            max-width: none;
            min-height: auto;
            display: block;
            text-align: left;
            padding: 20px;
        }
        @include layout-small {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media only screen and (min-width: 1025px) {
        .grid_col {
            padding: 0 0 0 10px;
        }
    }
    &_link {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &_description1 {
        display: block;
        font-size: 1.7rem;
        margin: 15px 0;
        @include layout-medium {
            text-align: center;
            margin: 0;
        }
        @include layout-small {
            margin-bottom: 5px;
        }
    }
    &_stock-price {
        &:before {
            content: '$';
            vertical-align: top;
            font-size: 75%;
        }
        display: block;
        @include font-size(37px);
        @include layout-medium {
            text-align: center;
        }
    }
    &_change,
    &_percent-change {
        display: inline-block;
        margin: 10px 0;
        font-size: 1.7rem;
        @include layout-medium {
            margin: 0;
            display: block;
            text-align: center;
        }
        @include layout-small {
            margin-bottom: 5px;
        }
    }
    &_percent-change {
        &:before {
            content: '(';
        }
        .module-stock-header_indicator {
            display: none;
        }
        &:after {
            content: ')';
        }
    }
    &_volume {
        display: none;
        margin-bottom: 32px;
        &:before {
            content: 'Volume ';
            font-weight: bold;
        }
    }
    &_footer {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 10px !important;
    }
    &_description3,
    &_date {
        font-size: 1.4rem;
        margin: 10px 0;
    }
    &_volume-text {
        display: none;
    }
}