/*--- Financial Report Modules ---*/
.module-financial {
    &-year {
        .module {
            &_options {
                text-align: left;
            }
            &_cover {
                margin-bottom: 15px;
                img {
                    display: inline-block;
                    vertical-align: top;
                    border: 1px solid $brand-color--alt;
                    @at-root .module-financial-year .module-financial_annual-archive .module_cover img {
                        max-width: 180px;
                        @include layout-legacy {
                            max-width: none;
                        }
                    }
                }
            }
            &_item {
                padding: 0;
                &~.module_item {
                    border: none;
                }
            }
            &_links {
                margin: 0;
            }
        }
        .module-financial {
            &_year {
                text-align: center;
            }
            &_annual-archive {
                @include layout-medium {
                    margin-top: 25px;
                }
            }
        }
    }
    &-quarter {
        .module {
            &_item {
                padding: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                &:last-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
                &.js--active {
                    h3 {
                        color: $brand-color;
                    }
                    h3:before {
                        content: unicode(edba);
                    }
                }
            }
            &_links {
                background-color: $grey-color;
                margin: 0 0 15px 0;
                padding: 15px;
                & > .grid_col {
                    display: inline-block;
                    padding-right: 20px;
                }
            }
            &_link {
                margin-bottom: 10px;
                @include font-size(16px);
                font-weight: normal;
                text-transform: none;
            }
        }
        .module-financial {
            &_year-text {
                padding: 20px 0;
                margin: 0;
                color: $brand-color--alt;
                text-transform: uppercase;
                @include font-size(14px);
                font-weight: bold;
                cursor: pointer;
                &:before {
                    float: right;
                    @include icon("edc2");
                }
            }
        }
    }
    &-table {
        &_header {
            background-color: $brand-color;
            color: $light-color;
            &-year-container {
                text-align: center;
            }
            &-year,
            &-category.grid_col {
                padding: 20px 15px;
            }
        }
        &_body {
            &-row {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &:nth-child(even) {
                    background-color: $grey-color;
                }
            }
            &-year-container {
                text-align: center;
            }
            &-year,
            &-category.grid_col {
                padding: 20px 15px;
            }
        }
        &_item {
            display: inline-block;
            margin-right: 15px;
            @include font-size(18px);
            font-weight: normal;
            &~.module_item {
                margin-right: 5px;
            }
            &--empty {
                opacity: 0.1;
            }
            @include layout-medium() {
                margin-right: 10px;
            }
            @include layout-small() {
                margin: 5px;
            }
        }
        .slick {
            &-slider {
                display: inline-block;
                padding: 0;
            }
            &-slide:focus {
                outline: none;
            }
            &-arrow {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                cursor: pointer;
                z-index: 10;
            }
            &-prev {
                left: 10px;
            }
            &-next {
                right: 10px;
            }
            &-disabled {
                opacity: 0.1;
                cursor: default;
            }
        }
    }
    &-mashup {
        .module_body {
            max-height: 300px;
            overflow: hidden;
            position: relative;
            &>*:first-child,
            &>style+p {
                margin-top: 0;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                z-index: 1;
                background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
                background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70ffffff', endColorstr='#ffffff', GradientType=0);
            }
        }
        h4 {
            margin-top: 16px;
        }
        .module-financial-mashup_documents .module_links {
            &+h4 {
                margin-top: 30px;
            }
            &>div {
                background-color: $grey-color;
                padding: 15px;
                margin-bottom: 1px;
            }
            .module_link {
                margin: 0;
            }
        }
        .button {
            width: 100%;
            min-width: auto;
            &.js--selected {
                background: $brand-color--alt;
                color: #fff;
            }
        }
        @media only screen and (min-width: 769px) {
            .module_options--mobile {
                display: none;
            }
        }
        @include layout-medium {
            .module_options--desktop {
                display: none;
            }
        }
    }
    &-latest {
        background-image: url($host + '/design/banner/banner-latest-financial.jpg');
        .grid_col {
            margin-bottom: 25px;
        }
        .module {
            &_link {
                margin: 0;
                .q4icons_icon:before {
                    display: inline-block;
                    @include font-size(50px);
                    padding: 0;
                    width: 92px;
                    height: 92px;
                    line-height: 92px;
                    text-align: center;
                    background-color: transparentize($light-color, 0.8);
                    border-radius: 100%;
                    transition: background-color 0.25s ease-in-out;
                }
                &.module_link-presentation .q4icons_icon:before {
                    content: unicode(e913) !important;
                }
                &:hover .q4icons_icon:before {
                    background-color: transparentize($brand-color, 0.5);
                }
                &-text {
                    display: block;
                    margin: 15px 0 0;
                    @include font-size(18px);
                    text-transform: none;
                }
            }
        }
        .module-financial_type-text {
            margin-top: 10px;
            @include font-size(60px);
            font-weight: normal;
        }
        .module-financial_year-text {
            margin-top: 15px;
            @include font-size(24px);
            letter-spacing: 2px;
        }
        @include layout-legacy {
            .module {
                &_links {
                    border-left: 0;
                }
                &_link {
                    margin: 0 0 15px;
                }
            }
            .grid_col {
                vertical-align: middle;
            }
        }
        .button--cta {
            &:hover {
                color: $light-color;
                text-decoration: underline;
            }
        }
        @include layout-medium {
            .module {
                &_item {
                    &>div:first-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}