/*==================================
 --------- DEFAULT STYLES ---------
==================================*/
body {
    overflow-x: hidden;
    color: $body-color;
    font-family: $body-font;
    @include font-size(16px);
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

/*---------- TYPOGRAPHY ----------*/
h1, .h1 {
    @include font-size(60px);
    margin-bottom: 60px;
    line-height: 1;
    @include layout-small {
        @include font-size(36px);
    }
}
h2, .h2 {
    @include font-size(36px);
    margin-bottom: 30px;
    @include layout-medium {
        font-size: 27px;
    }
}
.module-first-heading h2.module_title {
    @include font-size(44px)
}
h3, .h3 {
    @include font-size(24px);
    margin: 24px 0 16px 0;
    color: $brand-color;
}
h4, .h4 {
    @include font-size(16px);
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
h5, .h5 {
    @include font-size(12.8px);
    margin-bottom: 12.8px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: $brand-color--alt;
    &:hover {
        color: $brand-color;
    }
}
p {
    line-height: 1.5;
}

/*------------ COMMON ------------*/
img {
    max-width: 100%;
}
input {
    &[type="checkbox"],
    &[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    &[type="checkbox"],
    &[type="radio"] {
        &+label {
            user-select: none;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            display: inline-block;
            &:before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1px solid $brand-color--alt;
                margin-right: 8px;
                line-height: 1;
                position: absolute;
                left: 0;
                top: 0px;
            }
        }
        &:checked+label {
            &:before {
                background-color: $brand-color--alt;
            }
        }
    }
    &[type="radio"] {
        &+label {
            &:before {
                border-radius: 100%;
            }
        }
    } // Microsoft Edge cosmetic close
    &::-ms-clear {
        display: none;
    }
}
iframe {
    width: 100%;
}



/*------- HACKS AND FIXES -------*/
.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/*------------ LISTS ------------*/
.list {
    list-style-type: disc;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    &--ordered {
        list-style-type: decimal;
    }
    &--alpha {
        list-style-type: lower-alpha;
    }
    &--roman {
        list-style-type: lower-roman;
    }
    &--inside {
        list-style-position: inside;
    }
}


/*------- BUTTONS / INPUTS -------*/
*::-webkit-input-placeholder {
    color: inherit;
}
*::-moz-placeholder {
    color: inherit;
}
*::-ms-input-placeholder {
    color: inherit;
}

.input,
.textarea,
.dropdown,
.upload,
.submit,
.button {
    display: inline-block;
    max-width: 100%; // Overwrite Browser rendering different heights (IE11)
    // @include property-with-rem(height, 3.5rem);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 13px 20px;
    background: transparent;
    border: 1px solid $brand-color--alt;
    color: $brand-color--alt;
    border-radius: 0;
    font-family: $body-font;
    @include font-size(14px);
    &::-ms-clear {
        display: none;
    }
}
.submit,
.button,
.upload,
.dropdown {
    cursor: pointer;
}
.submit,
.button {
    text-transform: uppercase;
}
.textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
}
.upload {
    line-height: 0;
}
.button {
    transition: 0.3s ease-in-out;
    border-color: $brand-color;
    background: $brand-color;
    color: $light-color;
    min-width: 165px;
    text-align: center;
    &:hover,
    &:focus {
        color: $light-color;
        background: transparent;
        border: 1px solid $light-color;
    }
    &:focus {
        outline-color: $brand-color--alt !important;
    }
    &--inverted {
        background: $brand-color--alt;
        border-color: $brand-color--alt;
        &:hover,
        &:focus {
            border-color: $brand-color;
            background: $brand-color;
        }
        &:focus {
            outline-color: $brand-color !important;
        }
        &.js--disabled {
            background: $light-color;
            border-color: $brand-color;
            color: $brand-color;
        }
    }
    &--dark {
        border-color: $light-color;
        background-color: $light-color;
        color: $brand-color;
        &:hover,
        &:focus {
            background: $brand-color--alt;
            border-color: $brand-color--alt;
            color: $light-color;
        }
        &:focus {
            outline-color: $brand-color--alt !important;
        }
    }
    &--meeting {
        font-size: 1.3rem;
        background-color: #f1af0f;
        border-color: #f1af0f;
        color: $dark-color;
        font-weight: 700;
        &:hover,
        &:focus {
            background-color: #dc9e27;
            border-color: #dc9e27;
            color: $dark-color;
        }
        &:focus {
            outline-color: #dc9e27 !important;
        }
    }
    &--cta {
        border: 0 none;
        padding: 10px 10px;
        @include font-size(14px);
        background-color: $brand-color;
        color: $light-color;
        position: relative;
        min-width: auto;
        border: 2px solid transparent;
        &:hover,
        &:focus {
            color: $brand-color;
            background: transparent;
            // outline-color: $brand-color !important;
            border: 2px solid $brand-color;
            &:after {
                right: -5px;
            }
        }
        // &:after {
        //     @include icon(e90d);
        //     font-size: 20px;
        //     vertical-align: middle;
        //     position: absolute;
        //     right: 0;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     transition: right 0.5s;
        // }
    }
}
.dropdown {
    // padding: 15px 35px 15px 20px;
    background: transparent url($host + '/design/svg/dropdown-arrow.svg') no-repeat right 20px center;
    background-size: 14px 8px;
    padding-right: 44px;
    min-width: 120px;
    &::-ms-expand {
        display: none;
    }
}


/*------------ TABLES ------------*/
.table {
    width: 100%;
    margin: 16px 0;
    thead {
        background-color: $brand-color;
        color: $light-color;
        @include font-size(14px);
        th {
            text-align: left;
            text-transform: uppercase;
        }
    }
    tbody {
        tr:nth-child(odd) {
            background-color: $light-color;
        }
        tr:nth-child(even) {
            background-color: $grey-color;
        }
    }
    th,
    td,
    tr>.grid_col {
        margin: 0;
        padding: 15px 10px;
    }
    th {
        color: $light-color;
    }
    &--headless {
        tr {
            &:nth-child(even) {
                background-color: transparent;
            }
            &:nth-child(odd) {
                background-color: $grey-color;
            }
            &:first-child {
                background-color: $brand-color;
                text-align: left;
                td {
                    color: $light-color;
                }
            }
        }
    }
    &-wrapper {
        overflow-x: auto;
    }
    &--responsive {
        @include layout-small {
            thead {
                display: none;
            }
            tbody {
                border-top: 2px solid $brand-color;
                border-bottom: 2px solid $brand-color;
            }
            td {
                display: block;
                &:before {
                    content: attr(data-heading) ": ";
                    font-weight: bold;
                }
            }
        }
    }
    &--analyst {
        thead {
            background-color: transparent;
            color: inherit;
            th {
                color: inherit;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &:nth-child(odd) {
                    background-color: $light-color;
                }
                &:nth-child(even) {
                    background-color: $grey-color;
                }
            }
        }
        tbody {
            tr:nth-child(odd),
            tr:nth-child(even) {
                background-color: transparent;
            }
            th {
                color: $body-color;
            }
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &:nth-child(odd) {
                    background-color: $light-color;
                }
                &:nth-child(even) {
                    background-color: $grey-color;
                }
            }
        }
    }
}

/*--------- SPECIAL BOXES --------*/
.code {
    margin: 32px 0;
    padding: 20px 15px;
    background: $grey-color;
    border-left: 3px solid rgba($brand-color, 0.5);
    font-family: monospace, serif;
    @include font-size(14px);
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    overflow: hidden;
    &_comment {
        opacity: 0.5;
    }
}
.quote {
    margin: 32px 0;
    padding: 20px 15px;
    background: $grey-color;
    border-left: 3px solid rgba($brand-color--alt, 0.5);
    @include font-size(14px);
    font-style: italic;
    p:before {
        margin-right: 5px;
        @include icon('eb1b');
    }
    p:after {
        margin-left: 5px;
        @include icon('eb1c');
    }
}