/*- Committee Composition Widget -*/

.module-committee {
    .module {
        &_container {
            &--desktop {
                .module_header {
                    display: table-header-group;
                }
                @include layout-medium {
                    display: none;
                }
            }
            &--tablet {
                display: none;
                @include layout-medium {
                    display: block;
                }
            }
        }
        &_header {
            display: block;
            border-bottom: 2px solid $darken-color;
            font-weight: normal;
        }
        &_item {
            padding: 0;
            &~.module_item {
                border: 0;
            }
            &:nth-child(even) {
                background: $darken-color;
            }
        }
    }
    .grid_col {
        padding: 15px;
        text-align: center;
        &:first-child {
            text-align: left;
        }
    }
    &_category {
        &.js--active {
            .module_header .module-committee_trigger:before {
                content: unicode(edba);
            }
        }
    }
    &_custom-role {
        margin-left: 5px;
    }
    &_bio {
        padding: 0 15px 20px;
        text-align: left;
        p {
            margin: 0;
            &:not(:last-of-type) {
                margin-bottom: 16px;
            }
        }
    }
    &_legend-container {
        padding: 20px 15px;
    }
    &_legend {
        display: inline-block;
        margin-right: 30px;
        [class*="q4-icon_"] {
            margin-right: 5px;
        }
    }
}