/*==================================
 ------------ BLANK CSS -----------
==================================*/


/*-------- Layout Specific -------*/

.layout {
    &--home {
        .pane--content {
            // background: url($host+'/design/content-bg.jpg') center top;
            background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgb(251, 251, 251) 300px, rgb(255, 255, 255) 100%);
            background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgb(251, 251, 251) 300px, rgb(255, 255, 255) 100%);
            background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgb(251, 251, 251) 300px, rgb(255, 255, 255) 100%);
            background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgb(251, 251, 251) 300px, rgb(255, 255, 255) 100%);
            background-size: 100%; 
            background-repeat: no-repeat;
            text-align: center;
            .pane_inner{
                background: url($host+'/design/bg-fade.png') center bottom;
                background-size: 100%; 
                background-repeat: no-repeat;
                @include layout-small{
                    background-size: 200%; 
                }
            }
        }
    }
    .layout_inner {
        position: relative;
        overflow-x: hidden;
    }
    @include layout-legacy {
        &.js--mobile {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }
    }
}


/*--------- Pane Specific --------*/

.pane {
    &--header {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: rgba($dark-color, 0.2) 0px 2px 20px;
        z-index: 201;
        .pane_inner--wrapper{
            background-color: $lighten-color;
            transition: 0.3s ease-in-out;
            @at-root .js--header-small & {
                background: rgba($dark-color, 0.95);
            }
            &-1{
                margin-bottom: 1px;
            }
        }
        .pane_inner {
            position: relative;
            @include fit-and-center($layout-width);
            @media only screen and (min-width: 1025px) {
                padding-right: 50px;
            }
            @include layout-legacy {
                position: static;
            }
        }
        .module-logo img {
            vertical-align: middle;
        }
        .module,
        .nav {
            vertical-align: middle;
        }
        .layout_toggle {
            padding-top: 5px;
            display: none;
            text-align: right;
            
            &--menu {
                margin: 0;
                padding: 0;
                border: none;
                background: transparent;
                font-size: 1.8rem;
                color: $light-color;
                &:before {
                    transition: opacity 0.3s 0.15s;
                }
                @at-root .js--mobile & {
                    &:before {
                        opacity: 0;
                    }
                }
            }
            &--search {
                margin: 0;
                padding: 0;
                border: none;
                background: transparent;
                font-size: 1.8rem;
                color: $light-color;
                margin-right: 10px;
                &.js--active i:before {
                    content: "\ed6d";
                }
                
            }
        } // Mobile Styles
        @include layout-legacy {
            .pane_inner--wrapper-2 {
                height: $mobile-header-height;
                padding-top: 9px;
            }
            .module {
                vertical-align: middle;
            }
            .module-logo img {
                margin-bottom: 0;
            }
            .layout_toggle {
                display: inline-block;
            }
            .nav {
                display: none;
            }
            .module-search_input[type="text"]{
                @at-root .js--header-small & {
                    background: rgba($dark-color, 0.95);
                }
            }
        }
    }
    &--banner {
        background: $lighten-color url($host+'/design/banner/banner.jpg') center center;
        background-size: cover;
        color: #fff;
        padding-top: $desktop-header-height;
        position: relative;
        &:after{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $dark-overlay;
            z-index: 0;
        }
        .pane_inner {
            position: relative;
            z-index: 1;
            @include fit-and-center($layout-width);
            padding-top: 65px;
            padding-bottom: 65px;
        }
        .module-page-title {
            min-height: 180px;
            height: 1px; /* IE11 Fix */
            display: flex;
            text-align: center;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            @at-root .layout--home &{
                min-height: 0;
            }
        }
        h1 {
            margin: 0;
            @include layout-legacy {
                max-width: none;
            }
        }
        @include layout-legacy {
            padding-top: $desktop-header-height;
        }
    }
    &--navigation {
        .module-search {
            display: none;
        }
        .module-close-mobile-menu {
            text-align: right;
            padding: 25px 0;
            display: none;
            @include layout-legacy {
                display: block;
            }
            .layout_toggle--menu {
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                font-size: 1.6rem;
                color: $brand-color;
            }
        }
        @include layout-legacy {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            transition: 0.5s ease-in-out;
            overflow-y: scroll;
            z-index: 201;
            width: 75%;
            max-width: 300px;
            transform: translateX(100%);
            padding: 20px;
            background: linear-gradient(rgba(21,21,21,0.95), rgba(41,41,41, 0.95));
            visibility: hidden;
            @at-root .js--mobile & {
                box-shadow: 0px 17px 27px 0px rgba(0, 0, 0, 0.23);
                transform: translateX(0);
                visibility: visible;
            }
            .pane_inner {
                padding: 0;
            }
        }
        // iOS Actionbar fix
        @media screen and (max-width: 765px) and (orientation:landscape) {
            // Height of actionbar
            padding-bottom: 85px;
        }
        
    }
    &--content {
        .module {
            padding-top: $module-vspace;
            padding-bottom: $module-vspace;
            &_container {
                &--outer {
                    @include fit-and-center($layout-width);
                }
            }
            @at-root {
                @media only screen and (min-width: 769px) {
                    .module-container-padding .module_container--outer {
                        padding-left: calc(25px + 5%);
                        padding-right: calc(25px + 5%);
                    }
                }
            }
            &--thin {
                padding-top: $module-vspace--thin;
                padding-bottom: $module-vspace--thin;
            }
            &--thin-top {
                padding-top: $module-vspace--thin;
            }
            &--thin-bottom {
                padding-bottom: $module-vspace--thin;
            }
            &--thick {
                padding-top: $module-vspace--thick;
                padding-bottom: $module-vspace--thick;
            }
            &--thick-top {
                padding-top: $module-vspace--thick;
            }
            &--thick-bottom {
                padding-bottom: $module-vspace--thick;
            }
            &--no-padding {
                padding-top: 0;
                padding-bottom: 0;
            }
            &--no-padding-top {
                padding-top: 0;
            }
            &--no-padding-bottom {
                padding-bottom: 0;
            } // Sitemap
            &-sitemap {
                padding-bottom: $module-vspace--thin;
            }
        }
    }
    &--footer {
        padding: 40px 0 20px 0;
        background-color: $grey-dark-color;
        color: $light-color;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module {
            // Module Titles
            &_title {
                margin-bottom: 18px;
                font-size: 1.8rem;
                font-weight: normal;
                text-transform: uppercase;
            }
            &_error-container {
                margin-bottom: 20px;
                p {
                    display: none;
                }
            }
            &_introduction {
                display: none;
            } // Quick Links
            &-links {
                text-transform: uppercase;
                li:not(:last-child) {
                    margin-bottom: 10px;
                }
            } // Mailing List Signup
            &-subscribe {
                &_list-header,
                &_email .module_required,
                .CaptchaContainer {
                    display: none;
                }
                &_email label {
                    @include sr-only();
                }
                &_form {
                    padding-right: 175px;
                    @include layout-small {
                        padding-right: 120px;
                    }
                    tbody {
                        display: block;
                    }
                    tr {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
                &_table-wrap {
                    position: relative;
                }
                &_mailing-list {
                    margin: 20px 0 10px;
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    transition: opacity 0.3s;
                    &.js--revealed{
                        height: auto;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &_list {
                    &>td {
                        padding: 0;
                    }
                    table {
                        display: block;
                        width: 100%;
                        tr {
                            display: inline-block;
                            vertical-align: top;
                            width: 50%;
                            @include layout-medium {
                                width: auto;
                                display: block;
                            }
                        }
                    }
                }
                input[type="text"],
                input[type="email"] {
                    border-color: $light-color;
                    outline-color: $light-color;
                }
                .module_actions {
                    margin: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    max-width: 165px;
                    text-align: center;
                    @include layout-small {
                        max-width: 115px;
                    }
                    .button {
                        width: 100%;
                    }
                }
                &_unsubscribe {
                    display: block;
                }
                @include layout-medium {
                    width: 100%;
                }
            }
        }
        .module:not(.module-embed) {
            padding-bottom: 40px;
        }
    }
    &--footer2 {
        padding: 10px 0 15px 0;
        background-color: $dark-color;
        color: $light-color;
        font-size: 1.2rem;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module {
            &-logo--footer {
                img {
                    vertical-align: top;
                }
                @include layout-medium {
                    text-align: center;
                }
            }
            &-links {
                margin-top: 15px;
                @include layout-medium {
                    text-align: center;
                }
                &_list {
                    font-size: 1.2rem;
                    li {
                        display: inline;
                        &:not(:first-child):before {
                            content: '|';
                            margin: 0 10px;
                        }
                    }
                }
            }
            &-q4-credits {
                font-size: 1.2rem;
                color: #5a5a5a;
                margin-top: 15px;
                @include layout-medium {
                    text-align: center;
                }
            }
        }
        .copyright {
            margin-top: 15px;
            font-size: 1.2rem;
            line-height: 1.2;
        }
    }
    &--credits {
        .pane_inner {
            @include fit-and-center($layout-width);
        }
    }
}


/*--------- Page Specific --------*/

// to add in the extra padding on the top and bottom of the content pane
// this ensure that the first module is getting enough space on top
// and the last module gets enough space below it
.page--no-alternating {
    .pane {
        &--content {
            padding: 35px 0;
        }
    }
    .module {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
    }
}


/*-------- Module Specific -------*/

.module-overview {
    font-size: 2rem;
    &_hidden {
        display: none;
        &.js--revealed {
            display: block;
        }
    }
    &_button {
        &:before {
            content: "Read More";
        }
        &.js--active:before {
            content: "Show Less";
        }
    }
}

.module-why-invest {
    h4 {
        font-size: 6rem;
        color: $brand-color;
        font-weight: 300;
        margin-top: 0;
    }
    &_column {
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .grid_col:not(:first-child) .module-why-invest_column {
        @media only screen and (min-width: $layout-medium) {
            border-left: 1px solid #dddddd;
        }   
    }
    .slick-arrow:before {
        font-size: 20px;
        color: $brand-color;
    }
}

/* HOME: Latest Presentation & Events */
.module-presentation-events {
    background-image: url($host+'/design/trucks.jpg');
    background-size: cover;
    background-position: center center; 
    position: relative;
    @include layout-legacy {
        [class*="grid_col--push-"]{
            margin-left: 0;
        }
    }
    &:after{
        content: '';
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        position: absolute;
        background: $dark-overlay;
    }
    &>*{
        position: relative;
        z-index: 1; 
    }
    .module_title{
        text-align: center;
        margin-bottom: 0;
    }
    .module_container--inner > .grid {
        @media only screen and (min-width: 1025px) {
            display: flex;
            justify-content: stretch;
            align-items: stretch;
        }
        @include layout-legacy {
            background: transparent;
        }
    }

    .module-presentation-latest {
        height: 100%;
        position: relative;
        text-align: right;
        .module_container--content {
            @media only screen and (min-width: 1025px) {
                padding-right: 25px;
                & > .grid {
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                    & > .grid_col {
                        position: relative;
                    }
                }
            }
        }
        .module-slideshow_viewer:not(.grid_col) {
            max-width: 100%;
            position: relative;
            &:before{
                content:'';
                position: absolute;
                top: -15px;
                right: -15px;
                width: 110px;
                height: 110px;
                background: $light-color;
                z-index: 2;
            }
            &:after{
                content:'';
                position: absolute;
                top: -25px;
                right: 30px;
                width: 75px;
                height: 75px;
                background: $brand-color;
                z-index:0;
            }
            @include layout-legacy{
                &:before{
                    top: -10px;
                    right: -10px;
                }
                &:after{
                    content:'';
                    top: -18px;
                    right: 33px;
                }
            }
            .module-slideshow_ratio{
                position: relative;
                z-index: 2;
            }
        }
        iframe{
            left: 0;
        }
        
    }
    .module-slideshow_link-container {
        text-align: left;
    }
}

.module-banner-slider {
    margin-top: 15px;
    .slick-arrow:before {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.5rem;
    }
    @include layout-small {
        .slick-arrow {
            display: none;
        }
    }
    .slick-dots {
        button {
            background: transparent;
        }
    }
    .button {
        margin-top: 20px;
    }
    .slick-slider_dots {
        margin-top: 25px;
    }
    .slick-dots {
        display: inline;
    }
    .slick-dots button {
        border: 1px solid $body-color;
        border-radius: 0;
        position: relative;
        width: 13px;
        height: 13px;
        opacity: 1;
    }
    .slick-dots button:after {
        content:'';
        width: 7px;
        height: 7px;
        position: absolute;
        top: 2px;
        left:2px;
        background: transparent;
        
    }
    .slick-dots .slick-active button:after {
        background: $light-color;
    }
    .slick-dots li:not(:last-child) {
        margin-right: 8px;
    }
    .slick_autoplay-ctrl {
        button {
            background: none;
            border: none;
            padding: 0;
            color: white;
            margin-right: 10px;
            vertical-align: middle;
            &:before {
                // use !important to prevent issues with browser extensions that change fonts
                font-family: 'q4-icons' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1; // Better Font Rendering
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &--play:before {
            content: "\ed85";
        }
        &--pause:before {
            content: "\ed86";
        }
    }
    &.dark {
        .slick-dots button {
            border-color: #fff;
            color: #fff;
        }
    }
}


.module-overview-link-boxes {
    margin-top: -25px;
    .slick-track {
        padding: 3px 0px;
    }
    .module_item {
        &~.module_item {
            border-top: none;
        }
        &-anchor{
            color: inherit;
            display: block;
            padding: 15px 10% 18px;
            max-width: 480px;
            margin: 0 auto;
            background: #fff;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.1); 
            &:hover{
                
                background: linear-gradient(#c7c7c7, #ffffff);
                .module_item-title--grow-underline:after{
                    width: 100%;
                }
            }
        }
        &-title{
            img{
                display: inline;
                vertical-align: middle;
                max-height: 25px;
                margin-right: 10px;
            }
            span{
                vertical-align: middle;
            }
            &--grow-underline {
                margin-bottom: 15px;
                padding-bottom: 15px;
                @include layout-medium {
                    font-size: 1.6rem;
                }
                position: relative;
                &:after{
                    position: absolute;
                    content: '';
                    left:50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    width: 40px;
                    height: 2px;
                    background: $brand-color;
                    -moz-transition: width 0.3s;
                    -webkit-transition: width 0.3s;
                    transition: width 0.3s; 
                }
            }
        }
        &-description{
            display: block;
        }
        padding: 0 10px;
    }
}

.module-cta {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    [class*="q4-icon_"]:before {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: sub;
    }
    .button--cookie {
        color: black;
        position: absolute;
        right: -10px;
        top: -10px;
        cursor: pointer;
        z-index: 1;
        background-color: white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        [class*="q4-icon_"]:before {
            font-size: 10px;
            line-height: 20px;
            text-align: center;
            display: block;
            margin: auto;
        }
    }
}