/*==================================
 ------------ BLANK CSS -----------
==================================*/


/*-------- Layout Specific -------*/

.layout {
    &--home {
        .pane--content {
            text-align: center;
        }
    }
    .layout_inner {
        position: relative;
        overflow-x: hidden;
    }
    @include layout-legacy {
        &.js--mobile {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }
    }
}


/*--------- Pane Specific --------*/

.pane {
    &--header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 201;
        padding: 25px 0;
        transition: 0.3s ease-in-out;
        @at-root .js--header-small & {
            padding: 5px 0 0 0;
            background-color: $light-color;
        }
        @include layout-legacy {
            padding: 0;
        }
        .pane_inner {
            position: relative;
            @include fit-and-center($layout-width);
            @media only screen and (min-width: 1025px) {
                padding-right: 50px;
            }
        }
        .module-logo {
            img {
                vertical-align: top;
                margin-bottom: 5px;
            }
            .background-light {
                display: none;
            }
            @at-root .js--header-small & {
                .background-light {
                    display: block;
                }
                .background-dark {
                    display: none;
                }
            }
        }
        .module,
        .nav {
            vertical-align: middle;
        }
        .layout_toggle {
            display: none;
            text-align: right;
            &-button {
                font-size: 3.4rem;
                color: $light-color;
                background: transparent;
                border: 0 none;
                margin: 0;
                padding: 0;
                outline-color: $light-color;
                [class^="q4-icon_"],
                [class*=" q4-icon_"] {
                    &:focus {
                        outline: none;
                    }
                    @at-root .js--mobile & {
                        &:before {
                            @include font-size(25px);
                            content: "\ed6d";
                        }
                    }
                }
            }
        } // Mobile Styles
        @include layout-legacy {
            .pane_inner {
                height: $mobile-header-height;
                padding-top: 15px;
            }
            .module {
                vertical-align: middle;
            }
            .module-logo img {
                margin-bottom: 0;
            }
            .layout_toggle {
                display: inline-block;
            }
            .nav,
            .module-search {
                display: none;
            }
        }
    }
    &--banner {
        background: $lighten-color url($host+'/design/banner/banner.jpg') center center;
        background-size: cover;
        color: #fff;
        padding-top: 105px;
        background-position: bottom;
        .pane_inner {
            position: relative;
            @include fit-and-center($layout-width);
            padding-top: 65px;
            padding-bottom: 20px;
        }
        .module-page-title {
            min-height: 180px;
            height: 1px; /* IE11 Fix */
            display: flex;
            text-align: center;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
            @at-root .layout--home & {
                min-height: auto;
                text-align: left;
                display: inline-block;
            }
            @include layout-legacy {
                min-height: 105px;
                @at-root .layout--home & {
                    margin-bottom: 50px;
                }
            }
        }
        h1 {
            margin: 0;
            @include layout-legacy {
                max-width: none;
            }
        }
        @include layout-legacy {
            padding-top: 65px;
        }
    }
    &--navigation {
        // Desktop Style
        .module-search {
            display: none;
        } // Mobile Styles
        @include layout-legacy {
            position: fixed;
            visibility: hidden;
            top: 65px;
            right: 0;
            bottom: 0;
            transition: 0.5s ease-in-out;
            overflow-y: scroll;
            z-index: 120;
            width: 75%;
            max-width: 380px;
            transform: translateX(100%);
            padding: 20px 30px 60px 20px;
            background-color: $light-color;
            border-top: 2px solid $grey-color;
            @at-root .js--mobile & {
                visibility: visible;
                box-shadow: 0px 17px 27px 0px rgba(0, 0, 0, 0.23);
                transform: translateX(0);
            }
            .pane_inner {
                padding: 0;
            }
            .module-search {
                display: block;
                position: relative;
                margin: 25px 0;
                &_input {
                    visibility: visible;
                    opacity: 1;
                    position: static;
                    padding: 10px 35px 10px 15px;
                    max-width: none;
                    background-color: $brand-color;
                    @include font-size(14px);
                }
                &_button {
                    display: block;
                    background: transparent;
                    border: 0 none;
                    font-size: 15px;
                    font-family: 'q4-icons';
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    padding: 0;
                    transform: translateY(-50%);
                    color: white;                    
                }
            }
            span.module-search_button {   
                position: absolute;
                top: 19px;
                right: 19px;
                width: 16px;
                height: 16px;
                padding: 0;
                border: 0;
                background: transparent url($host + '/design/svg/q4-icon_buttons.svg');
                background-position: 0 -100%;
                background-size: 300%;
                font-size: 0;
                cursor: pointer;                        
            }
        }
        // iOS Actionbar fix
        @media screen and (max-width: 765px) and (orientation:landscape) {
            // Height of actionbar
            padding-bottom: 85px;
        }
    }
    &--content {
        .module {
            padding-top: $module-vspace;
            padding-bottom: $module-vspace;
            &_container {
                &--outer {
                    @include fit-and-center($layout-width);
                }
            }
            @at-root {
                @media only screen and (min-width: 769px) {
                    .module-container-padding .module_container--outer {
                        padding-left: calc(25px + 5%);
                        padding-right: calc(25px + 5%);
                    }
                }
            }
            &--thin {
                padding-top: $module-vspace--thin;
                padding-bottom: $module-vspace--thin;
            }
            &--thin-top {
                padding-top: $module-vspace--thin;
            }
            &--thin-bottom {
                padding-bottom: $module-vspace--thin;
            }
            &--thick {
                padding-top: $module-vspace--thick;
                padding-bottom: $module-vspace--thick;
            }
            &--thick-top {
                padding-top: $module-vspace--thick;
            }
            &--thick-bottom {
                padding-bottom: $module-vspace--thick;
            }
            &--no-padding {
                padding-top: 0;
                padding-bottom: 0;
            }
            &--no-padding-top {
                padding-top: 0;
            }
            &--no-padding-bottom {
                padding-bottom: 0;
            } // Sitemap
            &-sitemap {
                padding-bottom: $module-vspace--thin;
            }
        }
    }
    &--footer {
        padding: 40px 0 20px 0;
        background-color: $brand-color--alt;
        color: $light-color;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module {
            // Module Titles
            &_title {
                margin-bottom: 25px;
                font-family: $secondary-font;
                @include font-size(17px);
                font-weight: normal;
            }
            &_error-container {
                margin-bottom: 20px;
                p {
                    display: none;
                }
            }
            &_introduction {
                display: none;
            } // Quick Links
            &-links {
                text-transform: uppercase;
                @include font-size(14px);
                li:not(:last-child) {
                    margin-bottom: 10px;
                }
            } // Mailing List Signup
            &-subscribe {
                &_list-header,
                &_email .module_required,
                .CaptchaContainer {
                    display: none;
                }
                &_email label {
                    position: absolute !important;
                    width: 1px !important;
                    height: 1px !important;
                    padding: 0 !important;
                    margin: -1px !important;
                    overflow: hidden !important;
                    clip: rect(0, 0, 0, 0) !important;
                    border: 0 !important;
                }
                &_form {
                    padding-right: 180px;
                    @include layout-small {
                        padding-right: 0;
                    }
                    tbody {
                        display: block;
                    }
                    tr {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
                &_table-wrap {
                    position: relative;
                }
                &_mailing-list {
                    margin: 20px 0 10px;
                }
                &_list {
                    &>td {
                        padding: 0;
                    }
                    table {
                        display: block;
                        width: 100%;
                        tr {
                            display: inline-block;
                            vertical-align: top;
                            width: 33.33333%;
                            @include layout-medium {
                                width: auto;
                                display: block;
                            }
                        }
                    }
                }
                input[type="checkbox"]+label:before {
                    border-color: $light-color;
                }
                input[type="checkbox"]:checked+label:before {
                    border-color: $brand-color;
                    background-color: $brand-color--alt;
                }
                input[type="checkbox"]:checked+label:after {
                    background-color: $brand-color;
                }
                input[type="text"],
                input[type="email"] {
                    border-color: $light-color;
                    background: transparent;
                    color: $light-color;
                }
                .module_actions {
                    margin: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    max-width: 165px;
                    text-align: center;
                    @include layout-small {
                        position: static;
                        margin-top: 20px;
                    }
                    .button {
                        width: 100%;
                        color: $light-color;
                        border-color: $light-color;
                        &:hover {
                            color: $light-color;
                            border-color: $light-color;
                        }
                    }
                }
                &_unsubscribe {
                    display: block;
                    margin-top: 20px;
                } 
                @include layout-medium {
                    width: 100%;
                }
            } // module contact
            &-contact {
                [class^="q4-icon_"],
                [class*=" q4-icon_"] {
                    margin-right: 5px;
                }            
                .module_container--outer {
                    padding-left: 40px;
                    @include layout-medium {
                        padding-left: 0;
                    }
                }
                p a i {
                    margin-right: 5px;
                }
            } // logo footer
            &-logo--footer {
                min-height: 160px;
                border-right: 1px solid $body-color;
                position: relative;
                @include layout-medium {
                    min-height: auto;
                    border-right: none;
                    padding-bottom: 40px;
                }
            }// social links
            &-social-links {
                position: absolute;
                bottom: 0;
                ul {
                    margin-left: -5px;
                }
                li {
                    display: inline-block;
                    margin: 0 5px;
                }
                a {
                    @include font-size(17px);
                }
                @include layout-medium {
                    position: relative;
                }
            }
        }
        .module:not(.module-embed) {
            padding-bottom: 40px;
        }
    }
    &--footer2 {
        padding: 25px 0 30px 0;
        background-color: $dark-color;
        color: $light-color;
        @include font-size(12px);
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module {
            &-logo--footer {
                img {
                    vertical-align: top;
                }
                @include layout-medium {
                    float: none;
                    text-align: center;
                }
            }
            &-links {
                margin-top: 10px;
                @include layout-legacy {
                    width: 100%;
                    text-align: center
                }
                @include layout-medium {
                    float: none;
                }
                &_list {
                    @include font-size(12px);
                    li {
                        display: inline;
                        &:not(:first-child):before {
                            content: '|';
                            margin: 0 6px;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }                
            }
            &-q4-credits {
                @include font-size(12px);
                margin-top: 10px;
                a:hover {
                    text-decoration: underline;
                }
                @include layout-legacy {
                    text-align: center;           
                } 
            }
        }
        .copyright {
            margin-top: 10px;
            font-size: 1.3rem;
            line-height: 1.2;
        }
    }
    &--credits {
        .pane_inner {
            @include fit-and-center($layout-width);
        }               
    }
}


/*--------- Page Specific --------*/

// to add in the extra padding on the top and bottom of the content pane
// this ensure that the first module is getting enough space on top
// and the last module gets enough space below it
.page--no-alternating {
    .pane {
        &--content {
            padding: 35px 0;
        }
    }
    .module {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
    }
}


/*-------- Module Specific -------*/

.module-overview {
    @include font-size(15px);
    .module_title {
        position: relative;
    }
    .module_title:after {
        content: "";
        height: 1px;
        width: 100px;
        position: absolute;
        background-color: $body-color;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_hidden {
        display: none;
        &.js--revealed {
            display: block;
        }
    }
    &_button {
        &:before {
            content: "Read More";
        }
        &.js--active:before {
            content: "Show Less";
        }
    }
}

.module-why-invest {
    h4 {
        @include font-size(60px);
        color: $brand-color;
        font-weight: 300;
        margin-top: 0;
    }
    &_column {
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .grid_col:not(:first-child) .module-why-invest_column {
        @media only screen and (min-width: $layout-medium) {
            border-left: 1px solid #dddddd;
        }   
    }
    .slick-arrow:before {
        font-size: 20px;
        color: $brand-color;
    }
}

/*HOME: Latest News and Events*/
.module-news-and-events {
    background-color: #2a2a2a;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: url($host+'/design/banner/latest-news-and-events-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .module_headline-link:hover {
        text-decoration: underline;
    }
    @include layout-medium {
        &:before {
            width: 100%;
        }
    }
}

/* HOME: Latest Presentation & Events */
.module-presentation-events {
    background: -moz-linear-gradient(left, #ffffff 66.66667%, $grey-color 66.66667%);
    background: -webkit-linear-gradient(left, #ffffff 66.66667%, $grey-color 66.66667%);
    background: linear-gradient(to right, #ffffff 66.66667%, $grey-color 66.66667%);
    @include layout-legacy {
        background: transparent;
    }
    .module_container--inner > .grid {
        background: -moz-linear-gradient(left, #ffffff 66.66667%, $grey-color 66.66667%);
        background: -webkit-linear-gradient(left, #ffffff 66.66667%, $grey-color 66.66667%);
        background: linear-gradient(to right, #ffffff 66.66667%, $grey-color 66.66667%);
        @media only screen and (min-width: 1025px) {
            display: flex;
            justify-content: stretch;
            align-items: stretch;
        }
        @include layout-legacy {
            background: transparent;
        }
    }
    .module-presentation-latest {
        height: 100%;
        position: relative;
        .module_container--content {
            @media only screen and (min-width: 1025px) {
                padding-right: 25px;
                & > .grid {
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                    & > .grid_col {
                        position: relative;
                    }
                }
            }
        }
        .button--cta {
            position: absolute;
            bottom: 10px;
        }
    }
    .module-slideshow_link-container {
        margin-bottom: 50px;
        @include layout-legacy {
            margin-bottom: 25px;
        }
    }
}

/* HOME:  */
.module-home-cta {
    .module {
        &-inner-item {
            min-height: 350px;
            background-size: cover;
            transition: 0.3s ease-in-out;
            background-position: center;
            position: relative;
            background-repeat: no-repeat;
            @include layout-mobile-legacy {
                background-size: 133%;
                &:hover {
                    background-size: 160%;
                }
            }
            @include layout-medium {
                margin-bottom: 20px;
            }
        }
        &-slide-title {
            @include font-size(44px);
            font-family: $secondary-font;
            position: absolute;
            bottom: 0;
            text-align: left;
            padding: 40px 50px;
            color: $light-color;
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            &:hover {
                text-decoration: underline;
            }
            &:focus {
                outline-color: $brand-color;
            }
            @include layout-large {
                @include font-size(34px);
            }
            @include layout-legacy {
                padding: 40px 20px;
                @include font-size(30px);
            }
        }
    }
}