/*----- Download List Module -----*/

.module-downloads {
    background-color: $light-color;
    background-image: url($host + '/design/svg/rectangle-bottom-right.svg');
    background-position: right bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    .module {
        &_nav {
            display: none;
        }
        &_container--content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -10px;
        }
        &_item {
            margin: 5px 10px;
            padding: 15px 20px;
            width: calc(50% - 20px);
            background-color: $grey-color;
            transition: 0.3s ease-in-out;
            text-align: left;
            &:hover {
                background-color: $light-color;
                box-shadow: 0 2px 18px 0 rgba(24,24,24,0.21);
            }
        }
    }
    &_thumbnail,
    &_description,
    &_date {
        display: none;
    }
    &_title {
        &-link {
            position: relative;
            font-size: 1.8rem;
            margin: 0 0 0 30px;
        }
    }
    .q4icons_icon:before {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        content: "\e910" !important;
        font-size: 1.2rem;
        color: $brand-color--mod;
    }
    @include layout-medium {
        .module {
            &_item {
                width: 100%;
            }
        }
    }
}