/*------ Navigation Modules ------*/

.nav {
    &_close {
        display: none;
    }
    &_guide {
        @include sr-only();
    }
    @include layout-legacy {
        &_guide {
            display: none;
        }
    }
    a[tabindex="-1"]:focus { /* navigation needs this for accessibility purpose  */
        outline-width: 2px !important;
        outline-style: dotted !important;
        outline-color: inherit !important;
    } // Header Pane Nav
    &--main {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: $heading-font;
        text-transform: uppercase;
        margin: -15px 0;
        li {
            display: inline-block;
            vertical-align: top;
        }
        a {
            text-decoration: none;
            padding: 30px 10px;
            display: block;
            position: relative;
            overflow: hidden;
        }
        .level1 > li > a {
            &:after {
                content: '';
                display: block;
                height: 3px;
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 0;
                background-color: $brand-color;
                transform: translateY(100%);
                transition: transform 0.3s ease;
            }
        }
        .level1 > li > a:hover,
        .level1 > .selected > a {
            &:after {
                transform: translateY(0);
            }
        }
        .level1 {
            display: inline-block;
            vertical-align: top;
            li {
                padding: 0 15px;
                position: relative;
                &:not(:first-child):before {
                    content: '';
                    width: 1px;
                    height: 20px;
                    background-color: rgba($dark-color, 0.2);
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        @include layout-legacy {
            display: block;
            position: absolute;
            z-index: 1000;
            top: 80px;
            width: 100%;
            height: calc(100% - 80px);
            right: 0;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
            background-color: rgba($brand-blue, 0.5);
            overflow-x: hidden;
            font-size: 1.8rem;
            @at-root .js--mobile & {
                opacity: 1;
                visibility: visible;
            }
            li {
                display: block;
            }
            a {
                color: $light-color;
                padding: 30px 0;
            }
            .level1 {
                background-color: $brand-blue;
                width: 75%;
                height: 100%;
                margin-left: 25%;
                text-align: left;
                padding-top: 35px;
                padding-left: 25px;
                transform: translateX(100vw);
                // transition: transform 0.3s ease;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                transition-delay: 0s;
                border-top: 1px solid rgba($grey-color, 0.5);
                @at-root .js--mobile & {
                    transform: translateX(0);
                    transition-delay: 0.5s;
                    transition-property: transform;
                }
                li {
                    padding: 0;
                    border-bottom: 1px solid rgba($grey-color, 0.5);
                    &:before {
                        content: none;
                    }
                    a:after {
                        left: 0;
                        right: auto;
                        width: 50px;
                    }
                }
            }
        }
    } // Page Not Found
    &--sitemap {
        @include fit-and-center($layout-width);
        padding-top: $module-vspace;
        padding-bottom: $module-vspace;
        a {
            display: inline-block;
        }
        .level1 {
            column-count: 3;
            column-gap: $toast-gutter-width;
            & > li {
                break-inside: avoid;
                display: block;
                &:not(:last-of-type) {
                    margin-bottom: 35px;
                }
                & > a,
                & > a:visited {
                    margin: 5px 0;
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .level2,
        .level3 {
            & > li {
                padding: 5px 0;
                & > a {
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .level2 {
            &>li>a {
                margin-bottom: 5px;
            }
        }
        .level3 {
            &>li {
                padding-left: 15px;
            }
        }
        @include layout-medium {
            .level1 {
                column-count: 2;
            }
        }
        @include layout-small {
            .level1 {
                column-count: auto;
                column-gap: normal;
            }
        }
    }
}