/*-------- News Module CSS -------*/

.module-news {
    .module {
        &_nav {
            display: none;
        }
        &_item {
            border-bottom: 1px solid rgba($dark-color, 0.5);
            &:first-child {
                border-top: 1px solid rgba($dark-color, 0.5);
            }
            &-wrap {
                display: flex;
                align-items: center;
            }
        }
        &_date-time {
            margin: 0;
            padding: 10px calc(20px + 3%);
            font-size: 1.5rem;
            font-weight: 700;
            border-right: 1px solid rgba($dark-color, 0.5);
            [class^="q4-icon_"]:before,
            [class*=" q4-icon_"]:before {
                color: $brand-color--mod;
                font-size: 3.7rem;
                margin-bottom: 10px;
            }
        }
        &_headline {
            margin: 0;
            padding: 10px calc(20px + 2.5%);
            font-family: "Dosis", sans-serif;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.8rem;
        }
        @include layout-medium {
            &_item {
                padding: 15px 10px;
                &-wrap {
                    display: block;
                }
            }
            &_date-time {
                padding: 0;
                text-align: left;
                border-right: 0 none;
                [class^="q4-icon_"]:before,
                [class*=" q4-icon_"]:before {
                    content: none;
                }
            }
            &_headline {
                padding: 0;
            }
        }
    }
    &-latest {
        background-image: linear-gradient(rgba(#383838,0.7), rgba(#383838,0.7)), url($host+'/design/banner/Hero-Images4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .module {
            &_item {
                border-bottom-color: rgba($light-color, 0.5);
                &:first-child {
                    border-top-color: rgba($light-color, 0.5);
                }
            }
            &_date-time {
                border-right-color: rgba($light-color, 0.5);
            }
        }
    }
    &-details {
        .module {
            &_view-all-link {
                display: block;
                margin-bottom: 25px;
                &--bottom {
                    margin-top: 25px;
                    margin-bottom: 0;
                }
            }
        }
        &_category {
            display: none;
        }
        ul {
            margin: 16px 0;
            padding-left: 32px;
            list-style-type: disc;
            li {
                line-height: 1.5;
            }
        }
        .module_multimedia {
            .module_link {
                margin: 0;
                display: block;
                font-weight: normal;
                text-transform: none;
            }
            &-caption {
                margin-bottom: 16px;
                .module_file {
                    &-text {
                        display: block;
                    }
                    &-resolution {
                        display: none;
                    }
                }
            }
            &-image {
                width: 100%;
                float: none;
            }
            &-size {
                margin-top: 10px;
                .module_file {
                    &-size {
                        display: inline;
                    }
                    &-resolution {
                        &:before {
                            content: "(";
                        }
                        &:after {
                            content: ")";
                        }
                    }
                }
            }
            @include layout-legacy {
                &-item {
                    margin-bottom: 30px;
                }
            }
        }
    }
}