/*------ Person List Module ------*/
.module-person {
    // Person Module
    &_suffix .module_comma,
    &_suffix:empty + .module-person_title .module_comma,
    .module-person_res-photo-container {
        display: none;
    }
    .module_item {
        border-bottom: 1px solid rgba(#858585, 0.5);
        padding: 40px 0;
        &:first-child {
            border-top: 1px solid rgba(#858585, 0.5);
        }
    }
    .module-person_name-container {
        h3 {
            margin-top: 0;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #707070;
            text-transform: none;
            font-style: italic;
            font-weight: normal;
            .module-person_name {
                font-size: 2.8rem;
                line-height: 3.6rem;
                color: $brand-color--alt;
                font-style: normal;
                text-transform: uppercase;
                font-weight: 700;
                padding-bottom: 10px;
                margin-bottom: 10px;
                &:before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $brand-color;
                }
            }
        }
    }
    .module-person_description {
        line-height: 3rem;
        > *:first-child {
            margin-top: 0;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
    &_name {
        display: block;
        font-size: 1.8rem;
        text-transform: uppercase;
        position: relative;
    }
    @include layout-medium {
        .module-person_photo-container {
            margin-bottom: 20px;
        }
    } // Person Accordion
    &-accordion {
        background-color: $brand-blue;
        h2 {
            color: $light-color;
            @extend .heading-line-left;
            text-align: center;
            display: inline-block;
        }
        h3 {
            margin: 0;
            color: $light-color;
            > * {
                display: inline;
            }
        }
        .module_item {
            text-align: left;
            padding: 0;
            border-bottom: 1px solid rgba($light-color, 0.5);
            &:first-child {
                border-top: 1px solid rgba($light-color, 0.5);
            }
        }
        .module-person {
            &_photo-container {
                display: none;
            }
            &_name {
                margin-right: 20px;
                font-size: 2.8rem;
                &-container {
                    padding: 15px 65px 20px 15px;
                    position: relative;
                    &:after {
                        @include icon("edc2");
                        font-size: 20px;
                        position: absolute;
                        right: 40px;
                        top: 50%;
                        transform: translateY(-50%) rotate(0deg);
                        color: $brand-color;
                        transition: 0.3s ease-in-out;
                    }
                    &[aria-pressed="true"]:after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
                & ~ * {
                    color: $body-color;
                    font-size: 1.6rem;
                    font-family: $body-font;
                    font-weight: 400;
                    text-transform: none;
                }
                & + *:before {
                    content: '|';
                    margin-right: 15px;
                }
            }
            &_description {
                > *:first-child {
                    margin-top: 0;
                }
                > *:last-child {
                    margin-bottom: 0;
                }
                &-container {
                    border-top: 1px solid #E2E2E2;
                    padding: 40px;
                    background-color: $light-color;
                }
            }
            &_res-photo-container {
                display: none;
            }
        }
        @include layout-medium {
            h3 > * {
                display: inherit;
            }
            .module-person {
                &_name {
                    display: block;
                    & + *:before {
                        content: none;
                    }
                }
            }
        }
    } // Person Details Module
    &-details {
        .module_title {
            display: none;
        }
        .module_comma {
            display: none;
        }
        &_photo-container,
        &_name-container {
            display: inline-block;
            vertical-align: middle;
        }
        &_photo-container {
            max-width: 30%;
            margin-right: 40px;
            @include layout-medium {
                margin-right: 15px;
                margin-bottom: 35px;
            }
            @include layout-small {
                margin-right: 0;
                max-width: none;
            }
        }
        &_name {
            display: block;
            margin-bottom: 10px;
            font-size: 3.6rem;
            color: $brand-color;
            position: relative;
        }
        &_title {
            display: block;
            font-size: 2.4rem;
        }
        &_description-container {
            margin-top: 40px;
        }
    }
}