/*==================================
 ------------ BLANK CSS -----------
==================================*/

/*-------- Layout Specific -------*/

.layout {
    position: relative;
    overflow-x: hidden;
    &_toggle {
        display: none;
        text-align: right;
        & &-button {
            background: transparent;
            padding: 0;
            border: 0 none;
            color: $brand-color--alt;
            [class^="q4-icon_"]:before,
            [class*=" q4-icon_"]:before {
                display: block;
                width: 5rem;
                text-align: center;
                font-size: 3.5rem;
                line-height: 5rem;
            }
        }
    }
    &.js--mobile {
        .layout_toggle-button {
            [class^="q4-icon_"]:before,
            [class*=" q4-icon_"]:before {
                content: "\ed6d";
                font-size: 2.5rem;
            }
        }
    }
    @include layout-legacy {
        &_toggle {
            display: inline-block;
        }
    }
}

/*--------- Pane Specific --------*/

.pane {
    &--header {
        padding: 15px 0;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module-logo {
            a {
                font-size: 3.5rem;
                line-height: 5rem;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &--banner {
        background-image: linear-gradient(
                rgba($brand-blue, 0.85),
                rgba($brand-blue, 0.85)
            ),
            url($host+"/design/banner/Hero-Images5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: $light-color;
        padding-top: 50px;
        padding-bottom: 50px;
        @at-root .layout--home & {
            padding-top: 80px;
            padding-bottom: 100px;
            background-position: center 40%;
        }
        .pane_inner {
            @include fit-and-center($layout-width);
        }
    }
    &--content {
        .module {
            padding-top: $module-vspace;
            padding-bottom: $module-vspace;
            &_container {
                &--outer {
                    @include fit-and-center($layout-width);
                }
            }
            &--thin {
                padding-top: $module-vspace--thin;
                padding-bottom: $module-vspace--thin;
            }
            &--thin-top {
                padding-top: $module-vspace--thin;
            }
            &--thin-bottom {
                padding-bottom: $module-vspace--thin;
            }
            &--thick {
                padding-top: $module-vspace--thick;
                padding-bottom: $module-vspace--thick;
            }
            &--thick-top {
                padding-top: $module-vspace--thick;
            }
            &--thick-bottom {
                padding-bottom: $module-vspace--thick;
            }
            &--no-padding {
                padding-top: 0;
                padding-bottom: 0;
            }
            &--no-padding-top {
                padding-top: 0;
            }
            &--no-padding-bottom {
                padding-bottom: 0;
            } // Sitemap
            &-sitemap {
                padding-bottom: $module-vspace--thin;
            }
        }
    }
    &--footer {
        background-color: $brand-blue;
        padding-top: 25px;
        padding-bottom: 25px;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        a:hover {
            text-decoration: none;
            color: $brand-color;
        }
        .module-logo {
            padding-right: 60px;
            a {
                font-size: 3.5rem;
                line-height: 4.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .module-contact {
            position: relative;
            &:before {
                content: '';
                width: 1px;
                background: rgba($light-color, 0.5);
                position: absolute;
                left: -50px;
                top: 5px;
                height: 80px;
            }
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                margin-right: 10px;
                font-size: 2.3rem;
                vertical-align: middle;
            }
            &_address {
                padding-left: 20px;
                [class^="q4-icon_"],
                [class*=" q4-icon_"] {
                    position: absolute;
                    left: -30px;
                }
            }
            h4 {
                margin: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        .module-q4-credits {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid rgba($light-color, 0.3);
        }
        @include layout-large {
            .module-logo {
                padding-right: 0;
                padding-bottom: 40px;
            }
            .module-contact {
                padding-left: 20px;
                &:before {
                    left: 0;
                    height: 130px;
                }
                &_address {
                    padding-left: 30px;
                    [class^="q4-icon_"],
                    [class*=" q4-icon_"] {
                        left: -5px;
                    }
                }
            }
        }
        @include layout-medium {
            .module-logo,
            .module-contact {
                width: 100%;
            }
        }
    }
}

/*--------- Module Specific --------*/
.intro {
    margin-top: -50px;
    color: $grey-dark-color;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 300;
    .module_container--inner {
        padding: 50px calc(20px + 7.5%);
        background-color: $light-color;
        background-image: url($host + '/design/svg/rectangle-top-left.svg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        box-shadow: 0 2px 16px 0 rgba(24,24,24,0.11);
        border-bottom: 5px solid $brand-color--alt;
    }
}