/*==================================
 --------- UTILITY CLASSES --------
==================================*/

.hidden {
    &:not(.accordion_panel) {
        display: none !important;
    }
    &.accordion_panel {
        display: none;
    }
}

.disabled {
    opacity: 0.1;
    border-color: $body-color;
    color: $body-color;
    transition: none;
    pointer-events: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.vtop {
    vertical-align: top;
}

.vmiddle {
    vertical-align: middle;
}

.vbottom {
    vertical-align: bottom;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.heading-right .module_title {
    text-align: right;
}

.heading-left .module_title {
    text-align: left;
}

.heading-center .module_title {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.background--cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background--brand {
    background-color: $brand-color;
}

.background--alt-brand {
    background-color: $brand-color--alt;
}

.background--dark {
    background-color: $dark-color;
}

.background--light {
    background-color: $light-color;
}

.background--grey {
    background-color: $grey-color;
}

.background--success {
    background-color: $success-color;
}

.background--error {
    background-color: $error-color;
}

.background--fixed {
    background-attachment: fixed;
    @include layout-legacy {
        background-attachment: scroll;
    }
}

.background--cover {
    background-size: cover;
}

.color--brand {
    color: $brand-color;
}

.color--brand-alt {
    color: $brand-color--alt;
}

.color--dark {
    color: $dark-color;
}

.color--grey {
    color: $grey-color;
}

.color--success {
    color: $success-color;
}

.color--error {
    color: $error-color;
}

.dark {
    color: $light-color;
    h1, h2, h3, h4, h5 {
        color: inherit;
    }
    a {
        color: $light-color;
    }
}

.heading-line-left {
    position: relative;
    padding-left: 20px;
    line-height: normal;
    &:before {
        content: '';
        display: block;
        height: 24px;
        width: 3px;
        position: absolute;
        left: 0;
        top: 8px;
        background-color: $brand-color;
    }
}

.heading-line-bottom {
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $brand-color;
    }
}