.module-news-details {
    img {
        float: left;
        padding: 5px 10px 5px 0;
    }
    pre {
        font-family: "arial", sans-serif;
    }
    .module_body i {
        font: inherit;
        color: inherit;
        text-transform: inherit;
        font-style: italic;
    } //newswire
    @import '../_global/newswire/gnw';
    @import '../_global/newswire/bw';
    @import '../_global/newswire/cnw';
}