/*----- Download List Module -----*/
.module-downloads {
    .module {
        &_nav {
            display: none;
        }
        &_item {
            &:after {
                content: none;
            }
        }
    }
    &_thumbnail,
    &_description,
    &_date {
        display: none;
    }
    &_title {
        position: relative;
        &-link {
            padding-left: 25px;
            margin: 0;
        }
    }
    .q4icons_icon:before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
}