/*--- Financial Report Modules ---*/
.module-financial {
    &-year {
        .module {
            &_options {
                text-align: left;
            }
            &_cover {
                margin-bottom: 15px;
                img {
                    display: inline-block;
                    vertical-align: top;
                    border: 1px solid $brand-color--alt;
                    @at-root .module-financial-year .module-financial_annual-archive .module_cover img {
                        max-width: 180px;
                        @include layout-legacy {
                            max-width: none;
                        }
                    }
                }
            }
            &_item {
                padding: 0;
                &~.module_item {
                    border: none;
                }
            }
            &_links {
                margin: 0;
            }
            &_link {
                margin-bottom: 10px;
            }
        }
        .module-financial {
            &_year {
                text-align: center;
            }
            &_annual-archive {
                @include layout-medium {
                    margin-top: 25px;
                }
            }
        }
    }
    &-quarter {
        .module {
            &_item {
                padding: 0;
                &:after {
                    content: none;
                }
                &:not(:first-child) {
                    margin-top: 15px;
                }
                h3 {
                    background-color: $brand-color;
                    color: $light-color;
                    font-size: 2.2rem;
                    padding: 13px 50px 13px 20px;
                    margin: 0;
                    position: relative;
                    cursor: pointer;
                    &:before {
                        @include icon("e91c");
                        position: absolute;
                        right: 25px;
                        top: calc(50% - 2px);
                        transform: translateY(-50%);
                        font-size: 23px;
                    }
                }
                &.js--active {
                    h3 {
                        background-color: $brand-color--alt;
                    }
                    h3:before {
                        content: '\e91d';
                    }
                }
            }
            &_links {
                background-color: $grey-color;
                padding: 20px;
                & > .grid_col {
                    display: inline-block;
                    padding-right: 20px;
                }
            }
            &_link {
                margin-bottom: 10px;
                font-size: 1.6rem;
                font-weight: normal;
                text-transform: none;
            }
        }
        .module-financial {
            &_year-text {
                padding: 20px;
                margin: 0;
                color: $brand-color--alt;
                font-size: 1.7rem;
                font-family: $heading-font;
                cursor: pointer;
                &:before {
                    float: right;
                    @include icon("edc2");
                }
            }
        }
    }
    &-table {
        &_header {
            background-color: $brand-color--alt;
            color: $light-color;
            &-year-container {
                text-align: center;
            }
            &-year,
            &-category.grid_col {
                padding: 20px 15px;
            }
            &-year {
                font-size: 1.7rem;
                font-family: $heading-font;
            }
        }
        &_body {
            &-row {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &:nth-child(even) {
                    background-color: $grey-color;
                }
            }
            &-year-container {
                text-align: center;
            }
            &-year,
            &-category.grid_col {
                padding: 20px 15px;
            }
        }
        &_item {
            display: inline-block;
            margin-right: 15px;
            font-size: 1.6rem;
            font-weight: normal;
            &~.module_item {
                margin-right: 5px;
            }
            &--empty {
                opacity: 0.1;
            }
            @include layout-medium() {
                margin-right: 10px;
            }
            @include layout-small() {
                margin: 5px;
            }
        }
        .slick {
            &-slider {
                display: inline-block;
                padding: 0;
            }
            &-slide:focus {
                outline: none;
            }
            &-arrow {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                cursor: pointer;
                z-index: 10;
            }
            &-prev {
                left: 10px;
                color: $light-color;
            }
            &-next {
                right: 10px;
                color: $light-color;
            }
            &-disabled {
                opacity: 0.1;
                cursor: default;
            }
        }
    }
    &-mashup {
        .module_options {
            .button {
                min-width: auto;
                width: 100%;
                &.js--selected {
                    background: $brand-color--alt;
                    color: #fff;
                    outline-color: $brand-color--alt;
                }
            }
        }
        .module_body {
            max-height: 300px;
            overflow: hidden;
            position: relative;
            & > *:first-child,
            & > style + p {
                margin-top: 0;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                z-index: 1;
                background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
                background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70ffffff', endColorstr='#ffffff', GradientType=0);
            }
        }
        h4,
        .h4 {
            margin-top: 16px;
        }
        .module-financial-mashup_documents .module_links {
            & + h4,
            & + .h4 {
                margin-top: 30px;
            }
            & > div {
                background-color: $grey-color;
                padding: 15px;
                margin-bottom: 1px;
            }
            .module_link {
                margin: 0;
            }
        }
        @media only screen and (min-width: 1025px) {
            .module_options--mobile {
                display: none;
            }
        }
        @include layout-legacy {
            .module_options--desktop {
                display: none;
            }
        }
    }
    &-latest {
        background-image: url($host+'/design/quarterly-results1.jpg');
        background-position: center top;
        h3 {
            margin-top: 0;
        }
        .module_container--outer {
            text-align: right;
        }
        .module_container--inner {
            background-color: $brand-color;
            color: $light-color;
            text-align: left;
            display: inline-block;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: 6.67%;
            width: 93.33%;
            max-width: 415px;
            padding: 50px;
        }
        .module_item {
            padding-bottom: 20px;
        }
        .module_link {
            color: $light-color;
            font-size: 2.2rem;
            font-family: $heading-font;
            text-align: left;
            position: relative;
            padding-top: 5px;
            padding-bottom: 15px;
            padding-left: 70px;
            transition: 0.3s ease-in-out;
            margin: 5px 0 15px 0;
            &-text {
                position: relative;
                display: inline-block;
                &:after {
                    content: '';
                    display: block;
                    width: 55px;
                    height: 1px;
                    background-color: $light-color;
                    transform: translateY(15px);
                    transition: 0.3s ease-in-out;
                }
            }
            &:hover {
                color: lighten(desaturate(adjust-hue($brand-color, 2), 12.28), 36.27);
                text-decoration: none;
                .module_link-text:after {
                    background-color: lighten(desaturate(adjust-hue($brand-color, 2), 12.28), 36.27);
                }
            }
        }
        .q4icons_icon:before {
            width: 50px;
            text-align: center;
            font-size: 48px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        @include layout-medium {
            background-image: none;
            .module_container--outer:before {
                content: '';
                background-image: url($host + '/design/quarterly-results-mobile.jpg');
                background-size: cover;
                padding-top: 100%;
                margin:0 -$gutter;
                display: block;
                
            }
            .module_container--inner {
                max-width: none;
                margin: 0 -$gutter;
                width: auto;
                display: block;
            }
        }
    }
}