/*------ Navigation Modules ------*/
.nav {
    &_close {
        display: none;
    }
    &_guide {
        @include sr-only();
    }
    @include layout-legacy {
        &_guide {
            display: none;
        }
    }
    a[tabindex="-1"]:focus { /* navigation needs this for accessibility purpose  */
        outline-width: 2px !important;
        outline-style: dotted !important;
        outline-color: inherit !important;
    } // Header Pane Nav
    &--main {
        text-align: right;
        font-family: $heading-font;
        padding-right: 30px;
        a {
            display: block;
            padding: 15px 0;
            position: relative;
            transition: 0.3s ease-in-out;
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                background-color: $light-color;
                transition: width 0.5s ease-in-out;
            }
            &:hover {
                text-decoration: none;
                &:after {
                    width: 100%;
                }
            }
            @at-root .js--header-small & {
                padding: 15px 0;
            }
        }
        &.selected > a,
        &.expanded:not(.home) > a,
        a:hover,
        a:focus {
            &:after {
                width: 100%;
            }
        }
        .home > a {
            display: inline-block;
            vertical-align: top;
            margin:0 20px;
        }
        .home .home > a {
            margin: 0;
        }
        .js--logo .module-logo {
            display: block;
        }
        .level2 {
            display: inline-block;
            vertical-align: top;
            & > li {
                display: inline-block;
                vertical-align: top;
                position: relative;
                text-align: left;
                margin: 0 20px;
            }
        }
        .level3 {
            display: none;
            background-color: rgba($dark-color, 0.7);
            padding: 20px;
            text-align: left;
            white-space: nowrap;
            position: absolute;
            z-index: 200;
            left: 0;
            top: 100%;
            min-width: 200px;
            font-size: 1.4rem;
            @at-root {
                .nav--main li:last-child > .level3 {
                    right: 0;
                    left: auto;
                }
                .nav--main li.sfHover > .level3 {
                    display: block;
                }
            }
            li {
                display: block;
                margin: 0;
                &.selected > a,
                &.expanded > a {
                    color: lighten(adjust-hue($brand-color, 5), 26.47);
                }
                a {
                    color: $light-color;
                    padding: 10px 15px;
                    text-transform: none;
                    &:after {
                        content: none;
                    }
                    &:hover,
                    &:focus {
                        color: lighten(adjust-hue($brand-color, 5), 26.47);
                    }
                }
            }
        }
        .js--expanded .level3 {
            display: block;
        }
        @media screen and (max-width: 1400px) {
            .home > a,
            .level2 {
                & > li {
                    margin: 0 10px;
                }
            }
        }
        @include layout-large {
            display: none;
        }
    } // Navigation Page Nav
    &--secondary {
        background: $brand-color;
        text-align: center;
        line-height: 1.25;
        letter-spacing: 1px;
        @include layout-large {
            display: none;
        }
        @at-root {
            .js--sticky .nav--secondary {
                position: fixed;
                width: 100%;
                z-index: 200;
                background: rgba($brand-color, 0.9);
                box-shadow: rgba($dark-color, 0.2) 0px 2px 20px;
            }
        }
        .level1 {
            @include fit-and-center($layout-width);
            @include layout-legacy {
                max-width: none;
                padding-left: 0;
                padding-right: 0;
            }
            & > li {
                display: none;
                &.selected,
                &.expanded {
                    display: block;
                    & > a {
                        display: none;
                    }
                }
            }
        }
        .level2 {
            & > li {
                display: none;
                &.selected,
                &.expanded {
                    display: block;
                    & > a {
                        display: none;
                    }
                }
            }
        }
        .level3 {
            text-align: center;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: center;
            & > li {
                display: inline-block;
                vertical-align: top;
                padding: 0 12px;
                a {
                    color: $light-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 20px 0;
                    position: relative;
                    &:after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        z-index: 1;
                        background-color: $light-color;
                        transition: width 0.5s ease-in-out;
                    }
                    &:hover,
                    &:focus {
                        text-decoration: none;
                        &:after {
                            width: 100%;
                        }
                    }
                }
                &.selected {
                    a:after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &--mobile {
        display: none;
        background-color: transparent;
        font-family: $heading-font;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 1px;
        text-align: left;
        @include layout-large {
            display: block;
        }
        a {
            display: block;
            padding: 20px 0;
            position: relative;
            color: $light-color;
        }
        .level1 {
            &>li.expanded,
            &>li.selected {
                display: block;
                &>a {
                    display: block;
                }
            }
            .home > a {
                border-bottom: 1px solid rgba($light-color, 0.5);
            }
        }
        .level2 {
            > li {
                display: block;
                border-bottom: 1px solid rgba($light-color, 0.5);
                &.has-children>a:after {
                    @include icon('edc2');
                    position: absolute;
                    right: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 12px;
                }
                &.expanded,
                &.selected,
                &.js--expanded {
                    & > a {
                        display: block;
                    }
                }
                &.js--expanded {
                    border: none;
                    > a:before {
                        content: '';
                        height: 1px;
                        width: 100px;
                        display: block;
                        background-color: $light-color;
                        position: absolute;
                        z-index: 1;
                        bottom: -1px;
                        left: 0;
                    }
                    > a:after {
                        content: unicode(edba);
                    }
                    .level3 {
                        display: block;
                    }
                }
            }
        }
        .level3 {
            position: relative;
            text-align: left;
            display: none;
            background: rgba(saturate($brand-color--alt, 7.14), 0.5);
            padding: 15px 25px;
            border-top: 1px solid rgba($light-color, 0.5);
            border-bottom: 1px solid rgba($light-color, 0.5);
            & > li {
                display: block;
                padding: 0;
                &.selected a {
                    color: lighten(adjust-hue($brand-color, 5), 26.47);
                    &:after {
                        content: none;
                    }
                }
                a {
                    display: block;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    padding: 10px 0;
                    background: transparent;
                    &:focus,
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
        .js--expanded .level3 {
            display: none;
        }
    }
    &--footer {
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 2.8rem;
        font-family: $heading-font;
        font-weight: 700;
        letter-spacing: 3px;
        .level1 {
            column-count: 2;
        }
        a {
            display: inline-block;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            // focus fix
            margin: 2px 0;
            &:hover {
                text-decoration: none;
            }
            &:after {
                content: '';
                width: 56px;
                height: 1px;
                background-color: $grey-color;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: 0.3s ease-in-out;
                display: block;
            }
            &:hover:after {
                width: 100%;
            }
        }
    } // Page Not Found
    &--sitemap {
        @include fit-and-center($layout-width);
        padding-top: $module-vspace;
        padding-bottom: $module-vspace;
        a {
            display: inline-block;
            margin-bottom: 15px;
        }
        .level1,
        .level2 {
            & > li {
                & > a,
                & > a:visited {
                    font-size: 2.4rem;
                    color: $dark-color;
                    text-transform: uppercase;
                }
            }
        }
        .level3 {
            margin-bottom: 15px;
            & > li {
                & > a {
                    margin-bottom: 5px;
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .level3 {
            & > li {
                padding-left: 15px;
            }
        }
    }
}
