/*-------- Search Modules --------*/
.module-search {
    &--desktop {
        .module-search_toggle {
            font-size: 1.7rem;
            line-height: 2rem;
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            color: $light-color;
            cursor: pointer;
            line-height: normal;
            &.js--active {
                font-size: 1.2rem;
                [class^="q4-icon_"]:before {
                    content: "\e91a";
                }
            }
        }
        .module_container--inner {
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
            position: absolute;
            right: 40px;
            top: 100%;
            display: flex;
            width: 100%;
            max-width: 410px;
            background-color: $light-color;
            &.js--revealed {
                opacity: 1;
                visibility: visible;
            }
        }
        input[type="text"] {
            border:0 none;
            background: transparent;
            color: $light-color;
            font-family: $body-font;
            font-size: 1.6rem;
            line-height: 2.5rem;
            margin: 0;
            padding: 15px;
            color: lighten(desaturate(adjust-hue($grey-dark-color, -194), 11.39), 24.31);
            height: auto;
        }
        [type="submit"] {
            width: 60px;
            background-color: lighten(adjust-hue(#003361, 5), 26.47);
            color: $light-color;
            border:0 none;
            font-size: 1.7rem;
            font-family: 'q4-icons' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1; // Better Font Rendering
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        @include layout-large {
            display: none;
        }
    }
    &--mobile {
        display: none;
        margin-top: 80px;
        margin-bottom: 20px;
        background: $light-color;
        .module_container--inner {
            display: flex;
        }
        input[type="text"] {
            border:0 none;
            background: transparent;
            color: $light-color;
            font-family: $body-font;
            font-size: 1.6rem;
            line-height: 2.5rem;
            padding: 15px;
            color: lighten(desaturate(adjust-hue($grey-dark-color, -194), 11.39), 24.31);
            height: auto;
        }
        [type="submit"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
            padding: 0;
            width: 60px;
            background-color: lighten(adjust-hue(#003361, 5), 26.47);
            color: $light-color;
            border: 0;
            border-radius: 0;
            font-size: 1.7rem;
            font-family: 'q4-icons' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1; // Better Font Rendering
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        @include layout-large {
            display: block;
        }
    }
    &-result {
        &_link {
            margin-bottom: 15px;
        }
        &_description {
            display: block;
            margin-bottom: 15px;
            &:after {
                content: "...";
            }
        }
        &_url {
            display: none;
        }
    }
    &-results {
        @include fit-and-center($layout-width);
        .form_fields {
            &-right input {
                width: 100%;
                border-color: #006fba;
                color: #979797;
            }
        }
        .dropdown {
            padding-right: 30px;
        }
        .form_field {
            margin-bottom: 25px;
            &--date {
                position: relative;
                &:after {
                    content: "\e921";
                    position: absolute;
                    top: 44px;
                    right: 15px;
                    font-family: 'q4-icons' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    color: lighten(adjust-hue($brand-color, 5), 26.47);
                    clear: both;
                    display: table;
                    font-size: 16px;
                }
            }
            &--search {
                margin-bottom: 35px;
            }
        }
        .form_label {
            color: #545B62;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            display: block;
            margin-bottom: 7px;
        }
        .form_select {
            width: 100%;
            display: block !important;
            & + .sbHolder {
                display: none;
            }
        }
        .form_input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 100%;
            border: 1px solid $brand-color;
            border-radius: 0;
            color: $dark-color;
            padding: 15px 20px;
            display: block;
            font-family: inherit;
            font-size: 1.4rem;
        }
        &_link {
            text-transform: uppercase;
            color: #105CA3;
            font-size: 14px;
            text-shadow: 0 1px 0 #FFFFFF;
            font-weight: 500;
            margin-bottom: 20px;
            display: inline-block;
        }
        &_item {
            box-shadow: inset 0 1px 0 0 rgba(204, 201, 196, 0.3), inset 0 -1px 0 0 rgba(204, 201, 196, 0.3);
            padding: 30px 0;
        }
        &_url,
        &_result a {
            word-wrap: break-word;
        }
        &_url {
            display: none;
        }
        &_result:after {
            content: '';
            display: table;
            clear: both;
        }
        &_description {
            color: #545B62;
            font-size: 14px;
            text-shadow: 0 1px 0 #FFFFFF;
            line-height: 1.5;
            font-weight: 400;
        }
        &_summary {
            color: #545B62;
            font-size: 20px;
            line-height: 21px;
            text-shadow: 1px 1px #FFFFFF;
            font-weight: 400;
            margin: 0 0 30px;
            span {
                color: #105CA3;
            }
        }
        &_pager {
            float: right;
        }
        .pager_text {
            display: none;
        }
        .daterangepicker .calendar-table {
            .prev span {
                top: 5px;
                &:before {
                    content: '\e90f';
                    font-size: 16px;
                }
            }
            .next span {
                top: 5px;
                &:before {
                    content: '\e90d';
                    font-size: 16px;
                }
            } 
        }
        @include layout-medium {
            .form-fields {
                &-right {
                    .form_input {
                        width: calc( 100% - $gutter );
                    }
                    .grid_col {
                        padding-left: 0;
                    }
                }
                &--pages {
                    margin-top: 25px;
                    display: block;
                    width: 100%;
                }
                &--search {
                    width: 100%;
                }
            }
        }
        @media only screen and (max-width: 500px) {
            .form_field.form_field--date {
                overflow: auto;
            }
        }
    }
}