/*------ Stock Header Module -----*/
.module-stock-header {
    font-size: 1.4rem;
    line-height: 2.2rem;
    .module_container--inner {
        color: $light-color;
        background-color: lighten(saturate(adjust-hue(#09192f, -6), 32.14), 2.55);
        padding: 30px;
    }
    &_description1 {
        font-family: $heading-font;
        font-size: 1.8rem;
    }
    &_stock-price {
        font-family: $heading-font;
        font-size: 3.6rem;
        line-height: 3.2rem;
        &:before {
            content: '$';
            font-size: 2.9rem;
        }
    }
    &_change {
        font-size: 1.8rem;
        font-family: $heading-font;
    }
    &_volume {
        margin: 10px 0;
        padding: 10px 0;
        border-top: 1px solid $light-color;
        border-bottom: 1px solid $light-color;
    }
    &_date-delay {
        font-size: 1.1rem;
    }
}