/*==================================
 ------------ BLANK CSS -----------
==================================*/


/*-------- Layout Specific -------*/

.layout {
    .layout_inner {
        position: relative;
        overflow-x: hidden;
    }
    @include layout-large {
        &.js--mobile {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }
    }
}


/*--------- Pane Specific --------*/

.pane {
    &--header {
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        z-index: 201;
        transition: 0.3s ease-in-out;
        background-color: rgba( darken(desaturate(adjust-hue($brand-color, 6), 32.14), 2.55), 0.7);
        padding-left: $gutter;
        padding-right: $gutter;
        .pane_inner {
            padding-left: 200px;
            padding-right: 200px;
            position: relative;
        }
        .module-logo {
            display: inline-block;
            vertical-align: middle;
            padding: 20px 0;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            transition: 0.3s ease-in-out;
            @at-root .js--header-small & {
                padding: 15px 0;
            }
            a {
                display: inline-block;
                color: $light-color;
            }
            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .layout_toggle {
            display: none;
            padding: 20px 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            &-button {
                font-size: 2.3rem;
                line-height: 1;
                transition: 0.3s ease-in-out;
                color: $light-color;
                background: transparent;
                padding: 0;
                border: 0 none;
            }
            @at-root .js--header-small & {
                padding: 10px 0;
            }
            [class^="q4-icon_"] {
                &:focus {
                    outline: none;
                }
                @at-root .js--mobile & {
                    &:before {
                        font-size: 1.8rem;
                        content: unicode(ed6d);
                    }
                }
            }
        } // Mobile Styles
        @media (max-width: 1400px) {
            .pane_inner {
                padding-left: 0;
                padding-right: 0;
            }
            .module-logo {
                position: static;
                transform: none;
                margin: 0 10px;
            }
        }
        @include layout-large {
            text-align: left;
            .module-logo {
                margin: 0;
            }
            .layout_toggle {
                display: inline-block;
            }
        }
    }
    &--banner {
        color: #fff;
        position: relative;
        @at-root .layout:not(.layout--home) & {
            padding-top: 70px;
            background: $lighten-color url($host + '/design/shutterstock_144849883.jpg') center center;
            background-size: cover;
            @at-root .js--header-small & {
                padding-top: 50px;
            }
        }
        .module-page-title {
            min-height: 350px;
            height: 1px; /* IE11 Fix */
            display: flex;
            text-align: center;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
        }
        h1 {
            margin: 0;
            @include layout-legacy {
                max-width: none;
            }
        }
    }
    &--navigation {
        // Mobile Styles
        @include layout-large {
            background-color: lighten(desaturate(adjust-hue($brand-color, 6), 32.97), 4.31);
            color: $light-color;
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            transition: 0.3s ease-in-out;
            transition-property: opacity, transform;
            overflow-y: scroll;
            z-index: 120;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.8);
            padding: 87px 20px 50px 20px;
            @at-root .js--header-small & {
                padding-top: 67px;
            }
            @at-root .js--mobile & {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
            .pane_inner {
                padding: 0;
            }
        }
    }
    &--content {
        .module {
            padding-top: $module-vspace;
            padding-bottom: $module-vspace;
            &_container {
                &--outer {
                    @include fit-and-center($layout-width);
                }
            }
            @at-root {
                @media only screen and (min-width: 769px) {
                    .module-container-padding .module_container--outer {
                        padding-left: calc( #{$gutter} + 7.5% );
                        padding-right: calc( #{$gutter} + 7.5% );
                    }
                }
            }
            &--thin {
                padding-top: $module-vspace--thin;
                padding-bottom: $module-vspace--thin;
            }
            &--thin-top {
                padding-top: $module-vspace--thin;
            }
            &--thin-bottom {
                padding-bottom: $module-vspace--thin;
            }
            &--thick {
                padding-top: $module-vspace--thick;
                padding-bottom: $module-vspace--thick;
            }
            &--thick-top {
                padding-top: $module-vspace--thick;
            }
            &--thick-bottom {
                padding-bottom: $module-vspace--thick;
            }
            &--no-padding {
                padding-top: 0;
                padding-bottom: 0;
            }
            &--no-padding-top {
                padding-top: 0;
            }
            &--no-padding-bottom {
                padding-bottom: 0;
            } // Sitemap
            &-sitemap {
                padding-bottom: $module-vspace--thin;
            }
        }
    }
    &--footer {
        padding: $gutter * 2.5 0;
        background-color: lighten($brand-color, 5.49);
        color: $light-color;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module {
            // Module Titles
            &_title {
                font-size: 3.6rem;
            }
            &_error-container {
                margin-bottom: 20px;
                color: $light-color;
                p {
                    display: none;
                }
            }
            &_introduction {
                display: none;
            } // Quick Links
            &-links {
                text-transform: uppercase;
                font-size: 1.4rem;
                li:not(:last-child) {
                    margin-bottom: 10px;
                }
            } // Mailing List Signup
            &-subscribe {
                &:not(#SubscriberConfirmation) .module_title {
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: $gutter;
                    margin-right: 35px;
                    margin-top: 10px;
                }
                .module_container--inner {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 245px);
                }
                &_form label {
                    position: absolute !important;
                    width: 1px !important;
                    height: 1px !important;
                    padding: 0 !important;
                    margin: -1px !important;
                    overflow: hidden !important;
                    clip: rect(0, 0, 0, 0) !important;
                    border: 0 !important;
                }
                &_list-header,
                &_email .module_required,
                .CaptchaContainer {
                    display: none;
                }
                &_form {
                    width: calc(100% - 260px);
                    display: inline-block;
                    vertical-align: top;
                    tbody {
                        display: block;
                    }
                    tr {
                        padding: 0 25px;
                        width: 100%;
                    }
                }
                &_table-wrap {
                    position: relative;
                }
                &_mailing-list {
                    display: none;
                    width: calc(100% - 260px);
                    &.js--revealed {
                        display: block;
                    }
                }
                &_list {
                    &>td {
                        padding: 0;
                    }
                    table {
                        display: inline-block;
                        width: 100%;
                        tr {
                            display: inline-block;
                            vertical-align: top;
                            width: 50%;
                            padding: 0 25px;
                            @include layout-medium {
                                width: auto;
                                display: block;
                            }
                        }
                    }
                }
                .module_input {
                    font-size: 2rem;
                    color: inherit;
                    border: 0 none;
                    border-bottom: 1px solid $light-color;
                    background-color: transparent;
                    padding-left: 0;
                    padding-right: 0;
                }
                input[type="checkbox"]+label:before {
                    border-color: $light-color;
                    background-color: $light-color;
                }
                input[type="checkbox"]:checked+label:before {
                    border-color: $brand-color--alt;
                    background-color: $brand-color--alt;
                }
                .module_actions {
                    position: absolute;
                    right: 50px;
                    top: 0;
                    margin-top: 10px;
                }
                .button {
                    border-color: $light-color;
                    background-color: transparent;
                    color: $light-color;
                    &:hover,
                    &:focus {
                        background: $brand-color;
                        border-color: $light-color;
                        color: $light-color;
                        outline-color: $light-color !important;
                    }
                }
                @include layout-large {
                    &:not(#SubscriberConfirmation) .module_title {
                        display: block;
                        margin-right: 0;
                        margin-top: 0;
                    }
                    .module_container--inner {
                        display: block;
                        width: auto;
                    }
                    &_form tr,
                    &_list table tr {
                        padding-left: 0;
                    }
                }
                @include layout-legacy {
                    &_form {
                        display: block;
                        width: auto;
                    }
                    .module_actions {
                        position: static;
                        margin-top: 20px;
                    }
                }
                @include layout-medium {
                    &_list table tr {
                        padding-right: 0;
                    }
                    &_mailing-list {
                        width: auto;
                    }
                }
            }
        }
    }
    &--footer2 {
        padding-top: 50px;
        padding-bottom: 50px;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        h4 {
            margin-top: 0;
            margin-bottom: 30px;
            padding-bottom: 25px;
            position: relative;
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 56px;
                background-color: $grey-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .module {
            &-logo--footer {
                img {
                    vertical-align: top;
                    margin-top: 10px;
                }
            }
            &-contact strong {
                font-size: 1.8rem;
            }
        }
        @include layout-legacy {
            .module-logo--footer img {
                margin-bottom: 40px;
            }
        }
    }
    &--credits {
        padding-bottom: 25px;
        .pane_inner {
            @include fit-and-center($layout-width);
            &:before {
                content: '';
                display: inline-block;
                width: 100%;
                border-top: 1px solid $grey-color;
                padding-top: 15px;
            }
        }
        .module-links {
            font-size: 1rem;
            li {
                display: inline;
                margin:0 2px;
            }
        }
        .copyright {
            font-size: 1rem;
        }
        .module-q4-credits {
            font-size: 1rem;
        }
    }
}


/*--------- Page Specific --------*/

// to add in the extra padding on the top and bottom of the content pane
// this ensure that the first module is getting enough space on top
// and the last module gets enough space below it
.page--no-alternating {
    .pane {
        &--content {
            padding: 35px 0;
        }
    }
    .module {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
    }
}


/*-------- Module Specific -------*/

.module-overview {
    font-size: 2rem;
    &_hidden {
        display: none;
        &.js--revealed {
            display: block;
        }
    }
}

.module-portfolio {
    &_properties {
        margin-left: 40px;
        &.slick-slider {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .slick {
        &-arrow:before {
            color: adjust-hue($brand-color--alt, -18);
            font-size: 4rem;
        }
    }
    &_item {
        padding: 0 15px;
        &-wrap {
            position: relative;
            overflow: hidden;
        }
    }
    &_title {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        color: white;
        font-size: 1.4rem;
        font-family: $body-font;
        font-weight: 400;
        text-align: left;
        padding: 15px;
        margin: 0;
        transform: translateY(0);
        transition: 0.3s ease-in-out;
        @at-root .module-portfolio_item:hover & {
            transform: translateY(-10px);
        }
    }
    &_image {
        width: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: 0.3s ease-in-out;
        @at-root .module-portfolio_item:hover & {
            transform: scale(1.1);
        }
    }
    @include layout-legacy {
        &_properties {
            margin-left: 0;
            margin-top: 20px;
            &.slick-slider {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .slick {
            &-arrow:before {
                font-size: 3rem;
            }
        }
    }
}

.module-box-links {
    .module_container--widget {
        column-count: 2;
        column-gap: 20px;
    }
    &_item {
        padding-bottom: 75%;
        position: relative;
        background-size: cover;
        background-position: center center;
        margin-bottom: 20px;
        break-inside: avoid;
        &:nth-child(2) {
            padding-bottom: calc(37.5% - 10px);
        }
        &:nth-child(3) {
            padding-bottom: calc(37.5% - 10px);
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: background-color 0.3s ease-in-out;
            background-color: transparent;
            background-image: linear-gradient(180deg, rgba($light-color,0) 0%, rgba($dark-color,0.5) 100%);
        }
        &:hover {
            &:after {
                background-color: rgba($brand-color, 0.85);
                background-image: none;
            }
        }
        &-inner {
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 30px;
            overflow: hidden;
        }
    }
    &_title {
        margin: 0 0 -30px 0;
        transition: 0.3s ease-in-out;
    }
    &_description {
        position: relative;
        opacity: 0;
        visibility: hidden;
        transform: translateY(25px);
        transition: 0.3s ease-in-out;
        // fix outline when focusing on button
        padding: 5px;
        margin: -5px;
    }
    &_item:hover {
        .module-box-links_title {
            margin: 0 0 10px 0;
        }
        .module-box-links_description {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    &_more {
        margin-top: 15px;
    }
    .button--cta {
        color: $light-color;
    }
    @include layout-large {
        &_item-inner {
            padding: 20px;
        }
    }
    @include layout-legacy {
        .module_container--widget {
            column-count: 1;
        }
        &_item,
        &_item:nth-child(2),
        &_item:nth-child(3) {
            padding-bottom: 33.33%;
        }
        &_title {
            font-size: 2.4rem;
        }
    }
    @include layout-medium {
        &_item,
        &_item:nth-child(2),
        &_item:nth-child(3) {
            padding-bottom: 66.66%;
        }
    }
}

.module-cta {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    [class*="q4-icon_"]:before {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: sub;
    }
    .button--cookie {
        color: black !important;
        position: absolute;
        right: -10px;
        top: -10px;
        cursor: pointer;
        z-index: 1;
        background-color: white !important;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        [class*="q4-icon_"]:before {
            font-size: 10px;
            line-height: 20px;
            text-align: center;
            display: block;
            margin: auto;
        }
    }
}