/*- Committee Composition Widget -*/
.module-committee {
    .module {
        &_container {
            &--desktop {
                @include layout-medium {
                    display: none;
                }
            }
            &--tablet {
                display: none;
                @include layout-medium {
                    display: block;
                }
            }
        }
        &_header {
            display: block;
            font-family: $heading-font;
            font-size: 1.7rem;
            background-color: $brand-color;
            color: $light-color;
            &--desktop {
                display: table-header-group;
            }
        }
        &_item {
            padding: 0;
            & ~ .module_item {
                border: 0;
            }
            &:nth-child(even) {
                background: rgba(0, 0, 0, 0.05);
            }
        }
        &_items-container {
            padding: 15px;
            margin: 0 0 15px 0;
            background: $grey-color;
        }
    }
    .grid_col {
        padding: 15px;
        text-align: center;
        &:first-child {
            text-align: left;
        }
    }
    .module_container--tablet {
        .module-committee_name {
            padding: 10px 0;
            display: inline-block;
        }
        .module-committee_icon {
            display: block;
            text-align: right;
            padding: 10px 0 10px 25px;
        }
        .module_header {
            border: 0 none;
            .grid_col:last-child {
                text-align: right;
            }
        }
        .module_items-container {
            .grid_col {
                padding: 0;
            }
        }
    }
    &_category {
        border: none;
        &:not(:first-child) {
            margin-top: 15px;
        }
        .module_item:nth-child(even) {
            background: transparent;
        }
        .module-committee_trigger:before {
            content: unicode(e92b)
        }
        &.js--active {
            .module_header {
                background-color: $brand-color--alt;
                .module-committee_trigger:before {
                    content: unicode(e92a)
                }
            }
        }
    }
    &_custom-role {
        margin-left: 5px;
    }
    &_bio {
        padding: 0 15px 20px;
        text-align: left;
        p {
            margin: 0;
            &:not(:last-of-type) {
                margin-bottom: 16px;
            }
        }
    }
    &_legend-container {
        padding: 20px 15px;
    }
    &_legend {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 5px;
        [class*="q4-icon"] {
            margin-right: 5px;
        }
    }
}