/*-------- News Module CSS -------*/
.module-news {
    .module_nav,
    .module_thumbnail-link,
    .module_more-link {
        display: none;
    }
    @include layout-medium {
        .module_options {
            .grid_col {
                margin-bottom: 20px;
            }
        }
    }
    @include layout-small {
        .module_rss {
            margin-top: 0;
        }
    }
    &-latest {
        background-image: linear-gradient(rgba($brand-color, 0.84), rgba($brand-color, 0.84)), url($host + '/design/news-background.png');
        .module {
            &_container--content {
                padding: 0;
                margin-bottom: 20px;
                .slick-track {
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                }
                .slick-list {
                    width: 100%;
                }
                .slick-slide > div:not([class]) {
                    align-items: stretch;
                }
                .slick-dots {
                    position: absolute;
                    top: -75px;
                    right: 40px;
                }
                .slick-arrow {
                    top: -60px;
                    &:before {
                        font-size: 30px;
                    }
                }
                .slick-prev {
                    left: auto;
                    right: 80px;
                }
                .slick-dots li:not(:last-child) {
                    margin-right: 13px;
                }
                .slick-active button {
                    transform: scale(1.5);
                }
            }
            &_item {
                margin: 0;
                padding: 0 0 0 20px;
                border: none;
                &-wrap {
                    height: 100%;
                }
            }
            &_date-time {
                flex: 0 1 auto;
            }
            &_headline {
                flex: 1 1 auto;
            }
            &_headline-link:hover {
                text-decoration: underline;
            }
            &_short-body {
                flex: 0 1 auto;
                &:before {
                    content: '';
                    display: block;
                    width: 40%;
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1px solid rgba($light-color, 0.5);
                }
            }
        }
        @include layout-medium {
            .module {
                &_container--content {
                    .slick-dots {
                        top: -60px;
                    }
                    .slick-arrow {
                        top: -45px;
                    }
                    .slick-prev {
                        right: 120px;
                    }
                }
            }
        }
        @media (min-width: 1025px) {
            .module {
                &_container--inner {
                    position: relative;
                }
                &_container--content {
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                }
                &_item {
                    &-wrap {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .button {
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
    }
    &-details {
        .module {
            &_view-all-link {
                margin-bottom: 10px;
                &--bottom {
                    margin-top: 25px;
                    margin-bottom: 0;
                }
            }
        }
        &_category {
            display: none;
        }
        ul {
            margin: 16px 0;
            padding-left: 32px;
            list-style-type: disc;
            li {
                line-height: 1.5;
            }
        }
        .module_multimedia {
            .module_link {
                margin: 0;
                display: block;
            }
            &-caption {
                margin-bottom: 16px;
                .module_file {
                    &-text {
                        display: block;
                    }
                    &-resolution {
                        display: none;
                    }
                }
            }
            &-image {
                width: 100%;
                float: none;
            }
            &-size {
                margin-top: 10px;
                .module_file {
                    &-size {
                        display: inline;
                    }
                    &-resolution {
                        &:before {
                            content: "(";
                        }
                        &:after {
                            content: ")";
                        }
                    }
                }
            }
            @include layout-legacy {
                &-item {
                    margin-bottom: 30px;
                }
            }
        }
    }
}