/*==================================
 ------------ BLANK CSS -----------
==================================*/

/*-------- Layout Specific -------*/

.layout {
    position: relative;
    overflow-x: hidden;
    &_toggle {
        display: none;
        text-align: right;
        & &-button {
            background: transparent;
            padding: 0;
            border: 0 none;
            color: $brand-color--alt;
            [class^="q4-icon_"]:before,
            [class*=" q4-icon_"]:before {
                display: block;
                width: 5rem;
                text-align: center;
                font-size: 3.5rem;
                line-height: 5rem;
            }
        }
    }
    &.js--mobile {
        .layout_toggle-button {
            [class^="q4-icon_"]:before,
            [class*=" q4-icon_"]:before {
                content: "\ed6d";
                font-size: 2.5rem;
            }
        }
    }
    @include layout-legacy {
        &_toggle {
            display: inline-block;
        }
    }
}

/*--------- Pane Specific --------*/

.pane {
    &--header {
        padding: 15px 0;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        .module-logo {
            a {
                font-size: 3.5rem;
                line-height: 5rem;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &--banner {
        background-image: linear-gradient(
                rgba($brand-blue, 0.85),
                rgba($brand-blue, 0.85)
            ),
            url($host+"/design/banner/Hero-Images5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: $light-color;
        padding-top: 50px;
        padding-bottom: 50px;
        @at-root .layout--home & {
            padding-top: 110px;
            background-position: center 40%;
        }
        .pane_inner {
            @include fit-and-center($layout-width);
        }
    }
    &--content {
        .module {
            padding-top: $module-vspace;
            padding-bottom: $module-vspace;
            &_container {
                &--outer {
                    @include fit-and-center($layout-width);
                }
            }
            &--thin {
                padding-top: $module-vspace--thin;
                padding-bottom: $module-vspace--thin;
            }
            &--thin-top {
                padding-top: $module-vspace--thin;
            }
            &--thin-bottom {
                padding-bottom: $module-vspace--thin;
            }
            &--thick {
                padding-top: $module-vspace--thick;
                padding-bottom: $module-vspace--thick;
            }
            &--thick-top {
                padding-top: $module-vspace--thick;
            }
            &--thick-bottom {
                padding-bottom: $module-vspace--thick;
            }
            &--no-padding {
                padding-top: 0;
                padding-bottom: 0;
            }
            &--no-padding-top {
                padding-top: 0;
            }
            &--no-padding-bottom {
                padding-bottom: 0;
            } // Sitemap
            &-sitemap {
                padding-bottom: $module-vspace--thin;
            }
        }
    }
    &--footer {
        background-color: $brand-blue;
        padding-top: 25px;
        padding-bottom: 25px;
        .pane_inner {
            @include fit-and-center($layout-width);
        }
        a:hover {
            text-decoration: none;
            color: $brand-color;
        }
        .module-logo {
            padding-right: 60px;
            a {
                font-size: 3.5rem;
                line-height: 4.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .module-contact {
            position: relative;
            &:before {
                content: '';
                width: 1px;
                background: rgba($light-color, 0.5);
                position: absolute;
                left: -50px;
                top: 5px;
                bottom: 0;
            }
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                margin-right: 10px;
                font-size: 2.3rem;
                vertical-align: middle;
            }
            h4 {
                margin: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        .module-links {
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 700;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            padding-left: 40px;
            ul.module-links_list {
                padding-bottom: 10px;
                border-bottom: 1px solid rgba($grey-color, 0.6);
                display: flex;
                justify-content: space-between;
            }
        }
        .module-q4-credits {
            font-size: 1.2rem;
            padding-top: 15px;
        }
        @include layout-large {
            .module-logo {
                padding-right: 0;
                padding-bottom: 40px;
            }
            .module-contact {
                padding-left: 20px;
                &:before {
                    left: 0;
                }
            }
            .module-links {
                padding-left: 0;
                ul.module-links_list {
                    flex-direction: column;
                    border-bottom: 0 none;
                    li:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }
        @include layout-medium {
            .module-logo,
            .module-contact,
            .module-links {
                width: 100%;
            }
            .module-links {
                margin-top: 40px;
                ul.module-links_list {
                    padding-bottom: 40px;
                    border-bottom: 1px solid rgba($grey-color, 0.6);
                }
            }
        }
    }
}

/*--------- Module Options --------*/
.module-option-group {
    position: relative;
    &_title {
        margin: 0;
        line-height: 4rem;
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
    }
    &_controls.js--active &_title {
        visibility: visible;
        opacity: 1;
    }
    &_controls {
        background-color: #1abc9c;
        color: #f8f8f8;
        position: absolute;
        z-index: 200;
        right: 0;
        top: 50%;
        min-width: 250px;
        transform: translate(100%, -50%);
        padding: 0 15px;
        transition: transform 0.3s ease-in-out;
        &.js--active {
            transform: translate(0, -50%);
            .module-option-group_trigger:before {
                transform: rotate(180deg);
            }
        }
    }
    &_options {
        padding: 15px 0;
        visibility: hidden;
        opacity: 0;
        a {
            display: block;
            position: relative;
            padding: 0 10px 0 20px;
            &:before {
                content: '';
                width: 14px;
                height: 14px;
                display: inline-block;
                position: absolute;
                background-color: $light-color;
                border: 1px solid $grey-color;
                border-radius: 50%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after {
                content: '';
                width: 8px;
                height: 8px;
                display: inline-block;
                position: absolute;
                background-color: transparent;
                border-radius: 50%;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.js--selected {
                &:after {
                    background-color: $brand-color;
                }
            }
        }
    }
    &_controls.js--active &_options {
        visibility: visible;
        opacity: 1;
    }
    &_trigger {
        position: absolute;
        right: 100%;
        width: 40px;
        height: 40px;
        text-align: center;
        color: inherit;
        background-color: #1abc9c;
        outline-color: #1abc9c !important;
        border: none;
        padding: 0;
        line-height: 40px;
        top: 0;
        cursor: pointer;
        &:before {
            @include icon("edc6");
            line-height: 40px;
            display: block;
            transition: transform 0.5s ease-in-out 0.3s;
        }
    }
}

/*--------- Module Specific --------*/
.intro-text {
    color: #545B62;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 300;
    &--investors {
        font-size: 2.4rem;
        text-align: center;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
    }
}
.module-about {
    &-box {
        .module_container--inner {
            background-color: #ffffff;
            box-shadow: 0 2px 16px 0 rgba(196, 196, 196, 0.5);
        }
        &_content-wrapper {
            padding: 45px 45px 25px 65px;
        }
        a:not(.button) {
            color: inherit;
        }
        h3 {
            margin-top: 0;
        }
        h4 {
            margin-top: 15px;
        }
        &_address {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                width: 1px;
                height: 47px;
                display: block;
                position: absolute;
                left: -30px;
                top: 5px;
                background-color: $grey-dark-color;
            }
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                color: $brand-color;
            }
        }
        &_email {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            line-height: 35px;
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                color: $brand-color;
            }
        }
        &_phone {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            line-height: 35px;
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                color: $brand-color;
            }
        }
        &_image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;
            &-wrapper {
                position: relative;
            }
        }
        @include layout-large {
            &_address {
                margin-left: 35px;
            }
            &_image {
                position: static;
                transform: none;
            }
        }
    }
    &-columns {
        .module_container--inner {
            max-width: calc( #{$layout-width} - 200px);
            margin: 0 auto;
        }
        h2 {
            margin-bottom: 0;
        }
        h3 {
            text-align: right;
            font-size: 2.8rem;
            line-height: 3.5rem;
            margin-top: 55px;
            padding-bottom: 10px;
            &.heading-line-bottom:before {
                left: auto;
                right: 0;
            }
        }
        a:not(.button) {
            color: inherit;
        }
        &_box {
            position: relative;
            background-color: $grey-color;
            padding: 20px;
            margin: 20px 0 40px 0;
            &:before {
                content: '';
                width: 4px;
                display: block;
                background-color: $brand-color--alt;
                position: absolute;
                left: 0;
                top: -20px;
                bottom: -30px;
            }
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                border: 10px solid $light-color;
                border-left-color: transparent;
                border-bottom-color: transparent;
            }
        }
        &_address {
            position: relative;
            padding-left: 40px;
            margin-bottom: 30px;
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                width: 30px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                color: $dark-color;
            }
        }
        &_email {
            display: inline-block;
            position: relative;
            padding-left: 40px;
            line-height: 35px;
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                width: 30px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                color: $dark-color;
            }
        }
        &_phone {
            display: inline-block;
            position: relative;
            padding-left: 40px;
            line-height: 35px;
            [class^="q4-icon_"],
            [class*=" q4-icon_"] {
                width: 30px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                color: $dark-color;
            }
        }
        @include layout-legacy {
            h3 {
                text-align: left;
                margin-bottom: 30px;
                &.heading-line-bottom:before {
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    &-full {
        .module_container--inner {
            padding-left: 50%;
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        h2 {
            border-bottom: 1px solid $grey-color;
        }
        & &_image {
            position: absolute;
            top: 0;
            right: calc(50% + 30px);
            width: calc(100vw / 2);
            max-width: none;
            object-fit: cover;
            height: 100%;
        }
        @include layout-medium {
            .module_container--inner {
                padding-left: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            & &_image {
                position: static;
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}

.module-sec-filings {
    background-image: linear-gradient(rgba(56,56,56,0.7), rgba(56,56,56,0.7)), url($host + '/design/banner/Hero-Images3.jpg');
    background-size: cover;
    background-position: center;
    color: $light-color;
    font-size: 2rem;
    h3 {
        margin-top: 0;
        color: inherit;
    }
    &-grid {
        padding: 35px;
        height: 100%;
        background-image: linear-gradient(rgba(23,50,85,0.91), rgba(23,50,85,0.91)), url($host + '/images/435-x-430-4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: $light-color;
        font-size: 2rem;
        h3 {
            margin-top: 0;
            color: inherit;
        }
        .button {
            margin-top: 20px;
        }
    }
    &-masonry {
        background-color: $grey-color;
        .grid--flex {
            height: 100%;
        }
        .grid_col:not(.module-sec-masonry_image-wrapper) {
            align-self: center;
            padding: 40px;
        }
        &_image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.module-masonry {
    .module_container--inner {
        background-color: $light-color;
        box-shadow: 0 2px 14px 0 rgba(129,129,129,0.5);
    }
    h3 {
        margin-top: 0;
    }
}

.grid--sec-downloads {
    height: 100%;
}

.module-contact-box {
    .module_container--inner {
        max-width: calc( #{$layout-width} - 200px);
        margin: 0 auto;
        background-color: $light-color;
        box-shadow: 0 2px 16px 0 rgba(196,196,196,0.5);
    }
    a {
        color: inherit;
    }
    &_title {
        background-color: $brand-color--alt;
        color: white;
        &.grid_col {
            display: flex;
            align-items: center;
        }
        h3 {
            margin: 0;
            color: inherit;
            text-align: center;
            line-height: 1.2;
        }
    }
    .grid {
        &_col {
            padding: 40px 25px;
        }
    }
    &_address {
        position: relative;
        padding-left: 35px;
        [class^="q4-icon_"],
        [class*=" q4-icon_"] {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 24px;
        }
    }
    &_email {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        line-height: 35px;
        [class^="q4-icon_"],
        [class*=" q4-icon_"] {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 24px;
        }
    }
    &_phone {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        line-height: 35px;
        [class^="q4-icon_"],
        [class*=" q4-icon_"] {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 24px;
        }
    }
    @include layout-legacy {
        &_title h3 {
            text-align: left;
        }
    }
    @include layout-medium {
        .grid_col {
            padding: 0 20px;
            &.module-contact-box_title {
                padding: 20px;
                & + .grid_col {
                    padding-top: 20px;
                }
            }
            &:last-child {
                padding-bottom: 20px;
            }
        }
    }
}