/*==================================
 ---------     Q4ICONS    ----------
==================================*/

@font-face {
    font-family: 'q4-icons';
    src: url('https://d1azc1qln24ryf.cloudfront.net/50912/Q4studiospac/q4-icons.eot?3aa44y');
    src: url('https://d1azc1qln24ryf.cloudfront.net/50912/Q4studiospac/q4-icons.eot?3aa44y#iefix') format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/50912/Q4studiospac/q4-icons.woff2?3aa44y') format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/50912/Q4studiospac/q4-icons.ttf?3aa44y') format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/50912/Q4studiospac/q4-icons.woff?3aa44y') format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/50912/Q4studiospac/q4-icons.svg?3aa44y#q4-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="q4-icon_"]:before,
[class*=" q4-icon_"]:before {
    // use !important to prevent issues with browser extensions that change fonts
    font-family: 'q4-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1; // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.q4-icon {
    &_chairman:before {
        content: "\e916";
    }
    &_lead-director:before {
        content: "\e917";
    }
    &_member:before {
        content: "\e918";
    }
    &_chairblack:before {
        content: "\e919";
    }
    &_arrow_carrot-2right:before {
      content: "\e912";
    }
    &_arrow_carrot-2left:before {
      content: "\e913";
    }
    &_arrow_carrot-right:before {
      content: "\e914";
    }
    &_arrow_carrot-left:before {
      content: "\e915";
    }
    &_carousel-arrow-3:before {
        content: "\e911";
    }
    &_foward-arrow:before {
        content: "\e910";
    }
    &_set2_press-release_2pt:before {
        content: "\e90f";
    }
    &_long-arrow:before {
        content: "\e90e";
    }
    &_mobile-2:before {
        content: "\e90c";
    }
    &_email-4:before {
        content: "\e90d";
    }
    &_home:before {
        content: unicode(e904);
    }
    &_menu:before {
        content: unicode(ec71);
    }
    &_plus:before {
        content: unicode(ed5d);
    }
    &_minus:before {
        content: unicode(ed5e);
    }
    &_cross:before {
        content: unicode(ed6d);
    }
    &_check:before {
        content: unicode(ed71);
    }
    &_play:before {
        content: unicode(ed85);
    }
    &_pause2:before {
        content: unicode(ed86);
    }
    &_chevron-up:before {
        content: unicode(edba);
    }
    &_chevron-right:before {
        content: unicode(edbe);
    }
    &_chevron-down:before {
        content: unicode(edc2);
    }
    &_chevron-left:before {
        content: unicode(edc6);
    }
    &_arrow-up:before {
        content: unicode(edc7);
    }
    &_arrow-right:before {
        content: unicode(edc8);
    }
    &_arrow-down:before {
        content: unicode(edc9);
    }
    &_arrow-left:before {
        content: unicode(edca);
    }
    &_webcast:before {
        content: unicode(e989);
    }
    &_pdf:before {
        content: unicode(e900);
    }
    &_html:before {
        content: unicode(eecd);
    }
    &_tape:before {
        content: unicode(e952);
    }
    &_link:before {
        content: unicode(ec9b);
    }
    &_bell-line:before {
        content: unicode(ea57);
    }
    &_bell-fill:before {
        content: unicode(e908);
    }
    &_presentation:before {
        content: unicode(e95c);
    }
    &_pie:before {
        content: unicode(eb81);
    }
    &_file:before {
        content: unicode(eb81);
    }
    &_video:before {
        content: unicode(e95e);
    }
    &_bars:before {
        content: unicode(eb8a);
    }
    &_text:before {
        content: unicode(e99b);
    }
    &_news:before {
        content: unicode(e99b);
    }
    &_transcript:before {
        content: unicode(e99b);
    }
    &_table:before {
        content: unicode(eeae);
    }
    &_calendar:before {
        content: unicode(ea5f);
    }
    &_image-line:before {
        content: unicode(e93c);
    }
    &_image-fill:before {
        content: unicode(e93b);
    }
    &_phone-fill:before {
        content: unicode(ea1d);
    }
    &_phone-line:before {
        content: unicode(ea26);
    }
    &_envelope-line:before {
        content: unicode(ea32);
    }
    &_envelope-fill:before {
        content: unicode(ea34);
    }
    &_location-fill:before {
        content: unicode(ea3c);
    }
    &_location-line:before {
        content: unicode(ea3d);
    }
    &_clock-line:before {
        content: unicode(ea4d);
    }
    &_clock-fill:before {
        content: unicode(ea4e);
    }
    &_printer-line:before {
        content: unicode(ea67);
    }
    &_printer-fill:before {
        content: unicode(ea68);
    }
    &_drawer-out:before {
        content: unicode(ea81);
    }
    &_drawer-in:before {
        content: unicode(ea82);
    }
    &_user-fill:before {
        content: unicode(eb08);
    }
    &_user-line:before {
        content: unicode(eb09);
    }
    &_briefcase-line:before {
        content: unicode(e909);
    }
    &_briefcase-fill:before {
        content: unicode(ec03);
    }
    &_quotes-left:before {
        content: unicode(eb1b);
    }
    &_quotes-right:before {
        content: unicode(eb1c);
    }
    &_spinner:before {
        content: unicode(eb27);
    }
    &_search:before {
        content: unicode(e903);
    }
    &_circle:before {
        content: unicode(ec6b);
    }
    &_star-line:before {
        content: unicode(ece3);
    }
    &_star-half:before {
        content: unicode(ece4);
    }
    &_star-fill:before {
        content: unicode(ece5);
    }
    &_warning-line:before {
        content: unicode(ed4f);
    }
    &_warning-fill:before {
        content: unicode(ed50);
    }
    &_share-external:before {
        content: unicode(eec8);
    }
    &_instagram:before {
        content: unicode(e946);
    }
    &_google:before {
        content: unicode(eeea);
    }
    &_google-square:before {
        content: unicode(eeeb);
    }
    &_facebook:before {
        content: unicode(eeef);
    }
    &_facebook-square:before {
        content: unicode(eef0);
    }
    &_twitter:before {
        content: unicode(eef5);
    }
    &_apple:before {
        content: unicode(e90a);
    }
    &_microsoft:before {
        content: unicode(e90b);
    }
    &_youtube:before {
        content: unicode(eefc);
    }
    &_rss:before {
        content: unicode(eefa);
    }
    &_rss-square:before {
        content: unicode(eefb);
    }
    &_vimeo:before {
        content: unicode(eeff);
    }
    &_vimeo-square:before {
        content: unicode(ef00);
    }
    &_flickr:before {
        content: unicode(ef02);
    }
    &_flickr-square:before {
        content: unicode(ef04);
    }
    &_linkedin:before {
        content: unicode(ef29);
    }
    &_linkedin-square:before {
        content: unicode(ef28);
    }
    &_glassdoor:before {
        content: unicode(e905);
    }
    &_glassdoor-square:before {
        content: unicode(e906);
    }
    &_share:before {
        content: unicode(eee0);
    }
    &_file-pdf-line:before {
        content: unicode(ef3e);
    }
    &_file-pdf-fill:before {
        content: unicode(e901);
    }
    &_file-word-line:before {
        content: unicode(ef40);
    }
    &_file-word-fill:before {
        content: unicode(e902);
    }
    &_file-excel-line:before {
        content: unicode(ef41);
    }
    &_file-excel-fill:before {
        content: unicode(e907);
    }
    &_file-image-line:before {
        content: unicode(e9af);
    }
    &_file-image-fill:before {
        content: unicode(e9b0);
    }
    &_file-sound-line:before {
        content: unicode(e9b1);
    }
    &_file-sound-fill:before {
        content: unicode(e9b2);
    }
    &_file-play-line:before {
        content: unicode(e9b3);
    }
    &_file-play-fill:before {
        content: unicode(e9b4);
    }
    &_file-zip-line:before {
        content: unicode(e9b9);
    }
    &_file-zip-fill:before {
        content: unicode(e9ba);
    }
    &_file-xml-line:before {
        content: unicode(e9bb);
    }
    &_file-html-line:before {
        content: unicode(e9bb);
    }
    &_file-xml-fill:before {
        content: unicode(e9bc);
    }
    &_file-html-fill:before {
        content: unicode(e9bc);
    }
    &_file-presentation-line:before {
        content: unicode(e9bf);
    }
    &_file-presentation-fill:before {
        content: unicode(e9c0);
    }
    &_file-stats-line:before {
        content: unicode(e9c1);
    }
    &_file-stats-fill:before {
        content: unicode(e9c2);
    }
    &_file-spreadsheet-line:before {
        content: unicode(e9c5);
    }
    &_file-spreadsheet-fill:before {
        content: unicode(e9c6);
    }
}