/*==================================
 -------- Q4 Modules Icons ---------
==================================*/

.q4icons {
    .q4icons_icon:before {
        @include icon(eecd);
        font-size: 16px;
        vertical-align: middle;
        display: inline-block;
        padding-right: 5px;
    }
    .module_rss-link .q4icons_icon:before,
    .module_link-rss .q4icons_icon:before {
        content: unicode(eefa);
    }
    .module_add-to-calendar-reveal .q4icons_icon:before {
        content: unicode(ea5f);
        padding-right: 5px;
    }
    [href$=".mp3"] .q4icons_icon:before,
    [href$=".wmv"] .q4icons_icon:before,
    [href$=".MP3"] .q4icons_icon:before,
    [href$=".WMV"] .q4icons_icon:before {
        content: unicode(e952);
    }
    [href$=".xls"] .q4icons_icon:before,
    [href$=".xlsx"] .q4icons_icon:before,
    [href$=".csv"] .q4icons_icon:before,
    [href$=".XLS"] .q4icons_icon:before,
    [href$=".XLSX"] .q4icons_icon:before,
    [href$=".CSV"] .q4icons_icon:before {
        content: unicode(eeae);
    }
    [href$=".mp4"] .q4icons_icon:before,
    [href$=".flv"] .q4icons_icon:before,
    [href$=".avi"] .q4icons_icon:before,
    [href$=".MP4"] .q4icons_icon:before,
    [href$=".FLV"] .q4icons_icon:before,
    [href$=".AVI"] .q4icons_icon:before {
        content: unicode(e95e);
    }
    [href$=".pdf"] .q4icons_icon:before,
    [href$=".PDF"] .q4icons_icon:before {
        content: unicode(ef3e);
    }
    .module_link-webcast .q4icons_icon:before,
    .module_webcast-link .q4icons_icon:before {
        content: unicode(e989);
    }
    .module_link-news .q4icons_icon:before,
    .module_link-transcript .q4icons_icon:before {
        content: unicode(e99b);
    }
    .module_link-presentation .q4icons_icon:before {
        content: unicode(e95c);
    }
    .module_link-file .q4icons_icon:before {
        content: unicode(eb81);
    } // sec icons
    .module_link-sec .q4icons_icon:before {
        content: unicode(e9bb);
    }
    .module_link-sec[href$=".pdf"] .q4icons_icon:before {
        content: unicode(ef3e);
    }
    .module_link-sec[href$=".rtf"] .q4icons_icon:before {
        content: unicode(ef40);
    }
    .module_link-sec[href$=".xls"] .q4icons_icon:before {
        content: unicode(ef41);
    }
    .module_link-sec[href$=".zip"] .q4icons_icon:before {
        content: unicode(e9b9);
    }
}