/*------ Person List Module ------*/
.module-person {
    // Person Module
    &_suffix .module_comma,
    &_suffix:empty + .module-person_title .module_comma,
    .module-person_res-photo-container {
        display: none;
    }
    .module_item {
        border-bottom: 1px solid rgba(#858585, 0.5);
        padding: 40px 0;
        &:first-child {
            border-top: 1px solid rgba(#858585, 0.5);
        }
    }
    .module-person_name-container {
        h3 {
            margin-top: 0;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #707070;
            text-transform: none;
            font-style: italic;
            font-weight: normal;
            .module-person_name {
                font-size: 2.8rem;
                line-height: 3.6rem;
                color: $brand-color--alt;
                font-style: normal;
                text-transform: uppercase;
                font-weight: 700;
                padding-bottom: 10px;
                margin-bottom: 10px;
                &:before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $brand-color;
                }
            }
        }
    }
    .module-person_description {
        line-height: 3rem;
        > *:first-child {
            margin-top: 0;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
    &_name {
        display: block;
        font-size: 1.8rem;
        text-transform: uppercase;
        position: relative;
    }
    @include layout-medium {
        .module-person_photo-container {
            margin-bottom: 20px;
        }
    } // Person Accordion
    &-accordion {
        h2.module_title,
        .module_container--inner {
            max-width: 1060px;
            margin-left: auto;
            margin-right: auto;
        }
        .module_item {
            padding: 0;
            border: 0 none;
            border-bottom: 1px solid #E2E2E2;
            &:first-child {
                border-top: 1px solid #E2E2E2;
            }
        }
        .module-person {
            &_name-photo {
                display: flex;
                padding: 20px 50px 20px 0;
                cursor: pointer;
                position: relative;
                &:after {
                    @include icon("edc2");
                    font-size: 40px;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%) rotate(0deg);
                    color: $brand-color;
                    transition: 0.3s ease-in-out;
                }
                @at-root .module-person-accordion .module_item.js--active .module-person_name-photo:after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
            &_photo-container {
                width: 112px;
                border-radius: 100%;
                overflow: hidden;
            }
            &_name {
                display: block;
                font-family: $heading-font;
                font-size: 2.8rem;
                line-height: 3.6rem;
                color: $brand-color--alt;
                text-transform: uppercase;
                font-weight: 700;
            }
            &_name-container {
                flex-basis: 100%;
                align-self: center;
                padding-left: 25px;
                h3 {
                    margin: 0;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-family: $body-font;
                    font-weight: normal;
                    color: #707070;
                    text-transform: none;
                }
            }
            &_description {
                > *:first-child {
                    margin-top: 0;
                }
                > *:last-child {
                    margin-bottom: 0;
                }
                &-container {
                    border-top: 1px solid #E2E2E2;
                    padding: 40px;
                    background-color: $grey-color;
                    & > * {
                        display: block;
                        max-width: 840px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            &_res-photo-container {
                display: none;
            }
        }
        @include layout-medium {
            .module-person_name-photo:after {
                font-size: 20px;
            }
        }
    }
    &-grid {
        .module_item {
            border: 0 none;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            &:first-child {
                border: 0 none;
            }
        }
        .module-person {
            &_description-container,
            &_res-photo-container {
                display: none;
            }
            &_name-container {
                h3 {
                    .module-person_name {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        &:before {
                            content: none;
                        }
                    }
                }
            }
        }
        @at-root .fancybox-slide--person & {
            @include fit-and-center($layout-width + 2*$toast-gutter-width);
            .module_item {
                padding: 0;
            }
            .module-person {
                &_description-container {
                    display: block;
                }
                &_name-container {
                    h3 {
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        .module-person_name:before {
                            // content: none;
                        }
                    }
                }
                &_photo-container {
                    text-align: center;
                }
            }
            .button--cta {
                display: none;
            }
        }
    } // Person Details Module
    &-details {
        .module_title {
            display: none;
        }
        .module_comma {
            display: none;
        }
        &_photo-container,
        &_name-container {
            display: inline-block;
            vertical-align: middle;
        }
        &_photo-container {
            max-width: 30%;
            margin-right: 40px;
            @include layout-medium {
                margin-right: 15px;
                margin-bottom: 35px;
            }
            @include layout-small {
                margin-right: 0;
                max-width: none;
            }
        }
        &_name {
            display: block;
            margin-bottom: 10px;
            font-size: 3.6rem;
            color: $brand-color;
            position: relative;
        }
        &_title {
            display: block;
            font-size: 2.4rem;
        }
        &_description-container {
            margin-top: 40px;
        }
    }
}